form.div-form label {
	display: block;
	clear: both;
}

form.div-form .form-item {
	padding-bottom: 10px;
}

form.div-form {
	padding: 5px;
}

form.div-form label.error {
	display: block;
	clear: both;
}

form span.message {
	display: block;
	clear: both;
}

form span.message.error {
	display: block;
	clear: both;
	color: red;
}