.borderless-content {
	padding: 10px;
}
.borderless-content-subblock {
	padding-bottom: 20px;
}

.legend-mark {
	width:25px;
	height:25px;
}

.comment_text
{
	color:Gray;
	font-size:small;
}

#page-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#release-tag {
	margin: 0 auto;
	display: table;
	font-size: 0.7em;
}