.borderless-content {
	padding: 10px;
}
.borderless-content-subblock {
	padding-bottom: 20px;
}

.legend-mark {
	width:25px;
	height:25px;
}

.comment_text
{
	color:Gray;
	font-size:small;
}

#page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#release-tag {
	margin: 0 auto;
	display: table;
	font-size: 0.7em;
}

/* position: relative; min-height: 100%; - нужно что бы работоло позиционирование position: absolute; */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 30px;
}

@media print {
	#page-footer {
		display: none;
	}
}