input[type=button].CalendarInput {
	border: none;
	background-color: transparent;
}

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button, input[type=submit], input[type=button] {
  color: #222;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
}

.editBut
{
	padding:3px 10px 3px 7px;
	background-color: #e1e3e2;
	border:1px solid #bfbfbf;
	cursor:pointer;
	line-height: 1.3em;
}

/*перегружаем стиль .table a:link*/
.table a.button {
	font-weight: normal;
}

button.button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}

a.button.ok, button.button.ok {
	background: #EEE url(../../Images/tick.png) no-repeat; background-position: 5px 5px; padding-left:2em;
}

a.button.save, button.button.save {
	background: #EEE url(../../Images/application_edit.png) no-repeat; background-position: 5px 5px; padding-left:2em;
}
a.button {
	display: block;
	float: left;
}

.CalendarInput {
	background: transparent url(../Images/x_office_calendar.png) no-repeat scroll center center;
	width: 22px;
	height: 22px;
}


.addMenuItem {
	width: 20px;
	height: 20px;
	background: url(../../images/plus__orange.png) no-repeat center top;
	float: right;
}

.delMenuItem {
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 90%;
	background: url(../../images/onebit_32.png) no-repeat center top;
}