.form-like
{
	border: 1px double #9A9999;
	background: #e1e3e2;
	color: #625A5B;
	padding: 10px;
	font-weight: bold;
	font-size: 12px;
}

.registration-sub-block
{
	margin-bottom: 15px;
}

#houseErrorMessageSpan {
	color: red;
	font-weight: bold;
}