.error {
	color: Red;
	font-size: small;
}

.ipPrefix {
	width: 25px;
}

div.clearBoth {
	clear: both;
}

.orderInfo {
	border-right-width:0px;
	width:400px;
}

.closeOrder {
	border-left-width:0px!important;
	text-align:right!important;
	width:400px;
}

.displayInline {
	display: inline;
}

.centerText {
	text-align:center;
}

.boldFont {
	font-weight:bold;
}

.staticAddress {
	display:none;
	padding:10px;
}

.rightBorder {
	width:1px;
	border-right:0px double black;
}

.leftBorder {
	border-left:0px double black;
}