.virtual {
	background-color:#aff5ae;
}

/*
	вес этого селектора должен быть больше чем .virtual
	тк если платеж не обработан то это важнее
*/
tr.not-processed, .not-processed {
	background-color:#facada;
}

#writeOffsBlock {
	margin: 15px;
}