input.time {
	width: 6em;
}

input.graph_date {
	width: 6em;
}

.witch_padding_date .graph_date
{
	margin-left:10px;
	margin-right:10px;
}

.empty-result {
	width: 90%;
}

.request-details {
	width:1200px;
	color:#484848;
	font-size:12px;
}

.request-details-table {
	background-color: #FFD;
}

.request-details-table td {
	border: 0;
}

label.error {
	clear: both;
	display: block;
}
