.EvenRow {
	background-color: #F6F6F6;
}

.OddRow {
	background-color: #EEF8FF;
}

.recipientBox {
	width: 300px;
	text-align: center;
}

.noDisplay {
	display: none;
}

#paymentWarningBlock {
	text-align: left;
	width: 100%;
	display: none;
}

#paymentWarningBlock div {
	text-align: left;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
}

#paymentErrorBlock {
	padding: 10px 10px 10px 10px;
	font-size: 16px;
}