a.button.ok, button.button.ok {
	background: #EEE url(../Images/tick.png) no-repeat; background-position: 5px 5px; padding-left:2em;
}
button.button.save {
	background: #EEE url(../Images/application_edit.png) no-repeat; background-position: 5px 5px; padding-left:2em;
}