<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="SmtpServer" value="box.analit.net"/>
		<add key="MaileSenderAddress" value="efedorov@analit.net"/>
		<add key="nhibernateConnectionString" value="Server=localhost;Database=internet;User ID=root;Password=;"/>
	</appSettings>
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=Internet;User ID=root;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime/>
		<authentication mode="Forms">
			<forms loginUrl="~/AdminAccount/Index" timeout="2880" cookieless="UseCookies"/>
		</authentication>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<runtime>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
		</dependentAssembly>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
	</runtime>
</configuration>