<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SmtpServer" value="box.analit.net" />
		<add key="MailSenderAddress" value="internet@ivrn.net" />
		<add key="nhibernateConnectionString" value="Server=localhost;Database=Internet;User ID=root;" />
	</appSettings>
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=Internet;User ID=root;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime requestValidationMode="2.0"/>
		<authentication mode="Forms">
			<forms loginUrl="~/AdminAccount/Index" protection="All" path="/" domain="localhost"
			       cookieless="UseCookies" timeout="2880" />
		</authentication>
		
		<machineKey
			validationKey="7230D97FBD8432EAD29D85D0980D15758F1B5BA906DA10E511E1E75F1100AA9827DDAE0F67B638608A0F17400B19B19B1649E36DADF904BC34A8DCD489287880"
			decryptionKey="5EEA296775C7B40ED714AA5ED97F86E145583CEB4099C1FC"
			validation="SHA1" />
		
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
		<pages controlRenderingCompatibilityVersion="4.0" validateRequest="false"/>
	</system.web>
	<runtime>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" />
	</runtime>
</configuration>