@using Inforoom2.Models
@model dynamic
@{
	ViewBag.Title = "Список документов";
	Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	


	<div class="col-sm-9">
		<div class="form-group">
		 
		</div> 
	</div>
</div>
