@using Inforoom2.Helpers
@using Inforoom2.Models


@{
	ViewBag.Title = "Администраторы";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var Administrator = ViewBag.Administrator as Administrator;
	var employees = ViewBag.employees as List<Employee>;
}
<div class="panel panel-primary col-md-12">
	<div class="panel-body">
		@using (@Html.BeginForm(ViewBag.ActionName as string, ViewBag.ControllerName as string, null, FormMethod.Post, new { @class = "form-horizontal form-groups-bordered" }))
		{
			<div class="form-group">
				<label class="col-sm-2 control-label">Соотрудник</label>
				<div class="col-sm-4">
					@Html.DropDownListExtendedFor(i => Administrator.Employee, employees, obj => obj.Name, null, new { @class = "form-control" })
					@ViewBag.Validation.GetError(ViewBag.newAdmin, "Employee", "Поле не может быть пустым")
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-green" type="submit">Добавить</button>
			</div>
		}
	</div>
</div>
<div>
	<h2>Администраторы:</h2>
	@foreach (var administrator in ViewBag.admins as List<Administrator>) {
		<div>@administrator.Employee.Name</div>
	}
</div>