@using Inforoom2.Models
@model dynamic
@{ 
	ViewBag.Title = "Ошибка 404/500";
	Layout = "~/Views/Shared/_Layout.cshtml";
} 
<div class="page">
	<div class="errorpage">
		<h3>К сожалению, на странице произошла ошибка.</h3>
	</div>
</div>