<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	
	<appSettings>
		<add key="webPort" value="59777"/>
		<add key="webDirectory" value="../../../InternetInterface/"/>
		<add key="DebugMail" value="KvasovTest@analit.net"/>
		<add key="SmtpServer" value="box.analit.net"/>
		<add key="OrderNotificationMail" value="ibilling@ivrn.net" />
		<add key="WriteOffNotificationMail" value="ibilling@ivrn.net, InternetBilling@analit.net" />
		<add key="PaymentNotificationMail" value="ibilling@ivrn.net" />
		<add key="SpeedBoostPackageId" value="23" />
	</appSettings>
	
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=internet;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="TestData"/>
			</smtp>
		</mailSettings>
	</system.net>

	<log4net>
	</log4net>
	
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
