<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	
	<appSettings>
		<add key="webPort" value="59777"/>
		<add key="webDirectory" value="../../../InternetInterface/"/>
	</appSettings>
	
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=internet;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
		<add name="integration" connectionString="Data Source=localhost;Port=3308;Database=internet;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>
	
	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="InternetInterfaceError.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="MySqlAdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<errorHandler type="Common.Tools.Log4NetErrorHandler"/>
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="server=localhost; User ID=root; password=; database=analit; pooling=true; Convert Zero Datetime=true; Allow User Variables=true; Connect Timeout=300; Default command timeout=300" />
			<commandText value="INSERT INTO analit.Logs (Date, Level, Logger, Host, User, Message, Exception, App) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception, 'InternetInterface')" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="WARN" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>

		<root>
			<level value="ERROR"/>
			<appender-ref ref="LogFile" />
			<appender-ref ref="MySqlAdoNetAppender" />
		</root>

		<logger name="InternetInterface" additivity="false">
			<level value="WARN" />
			<level value="DEBUG" />
			<appender-ref ref="LogFile"/>
			<appender-ref ref="MySqlAdoNetAppender" />
		</logger>

		<logger name="InternetInterface.Background" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="LogFile"/>
			<appender-ref ref="MySqlAdoNetAppender" />
		</logger>

	</log4net>
	
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
	
</configuration>
