<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	
	<appSettings>
		<add key="webPort" value="59777"/>
		<add key="webDirectory" value="../../../InternetInterface/"/>
	</appSettings>
	
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=internet;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
		<add name="integration" connectionString="Data Source=localhost;Port=3308;Database=internet;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>
	
	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="InternetInterfaceError.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR"/>
			<appender-ref ref="LogFile" />
			<appender-ref ref="MySqlAdoNetAppender" />
		</root>

		<logger name="InternetInterface" additivity="false">
			<level value="WARN" />
			<level value="DEBUG" />
			<appender-ref ref="LogFile"/>
		</logger>

		<logger name="InternetInterface.Background" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="LogFile"/>
		</logger>

	</log4net>
	
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
	
</configuration>
