/* --------------------------------------------------------------

   liquid.css
   * Sets up an easy-to-use grid of 32 columns that stretch
     to the window width or can also be fixed width.

   -----

   By default, the grid is 100% of window width, with 32 columns.

   To make the grid fixed, simply change the .container width
   property to a pixel value. e.g., 1280px.

-------------------------------------------------------------- */

/* A container should group all your columns. */
.container {
  width: 100%;
  margin: 0 auto;
}

.no-liquid .container, .no-liquid.container {
  width: 1280px;
  /*margin: 0 auto;*/
}

/* Use this class on any .span / container to see the grid. */
.showgrid {
  background: url('grid.png');
}


/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24,
.span-25, .span-26, .span-27, .span-28, .span-29, .span-30, .span-31, .span-32{
  float: left;
  margin-right: 0.787%;
}

.no-liquid .column, .no-liquid .span-1, .no-liquid .span-2, .no-liquid .span-3, .no-liquid .span-4, .no-liquid .span-5, .no-liquid .span-6,
.no-liquid .span-7, .no-liquid .span-8, .no-liquid .span-9, .no-liquid .span-10, .no-liquid .span-11, .no-liquid .span-12,
.no-liquid .span-13, .no-liquid .span-14, .no-liquid .span-15, .no-liquid .span-16, .no-liquid .span-17, .no-liquid .span-18,
.no-liquid .span-19, .no-liquid .span-20, .no-liquid .span-21, .no-liquid .span-22, .no-liquid .span-23, .no-liquid .span-24,
.no-liquid .span-25, .no-liquid .span-26, .no-liquid .span-27, .no-liquid .span-28, .no-liquid .span-29, .no-liquid .span-30,
.no-liquid .span-31, .no-liquid .span-32  {
  margin-right: 10px;
}

/* The last column in a row needs this class. */
.no-liquid .last, .last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1 {width: 2.362%;}
.span-2 {width: 5.512%;}
.span-3 {width: 8.661%;}
.span-4 {width: 11.811%;}
.span-5 {width: 14.961%;}
.span-6 {width: 18.110%;}
.span-7 {width: 21.260%;}
.span-8 {width: 24.409%;}
.span-9 {width: 27.559%;}
.span-10 {width: 30.709%;}
.span-11 {width: 33.858%;}
.span-12 {width: 37.008%;}
.span-13 {width: 40.175%;}
.span-14 {width: 43.307%;}
.span-15 {width: 46.457%;}
.span-16 {width: 49.606%;}
.span-17 {width: 52.756%;}
.span-18 {width: 55.906%;}
.span-19 {width: 59.055%;}
.span-20 {width: 62.205%;}
.span-21 {width: 65.354%;}
.span-22 {width: 68.504%;}
.span-23 {width: 71.654%;}
.span-24 {width: 74.803%;}
.span-25 {width: 77.953%;}
.span-26 {width: 81.102%;}
.span-27 {width: 84.252%;}
.span-28 {width: 87.402%;}
.span-29 {width: 90.551%;}
.span-30 {width: 93.701%;}
.span-31 {width: 96.850%;}
.span-32 {width: 100%; margin-right:0;}

.no-liquid .span-1 {width: 30px;}
.no-liquid .span-2 {width: 70px;}
.no-liquid .span-3 {width: 110px;}
.no-liquid .span-4 {width: 150px;}
.no-liquid .span-5 {width: 190px;}
.no-liquid .span-6 {width: 230px;}
.no-liquid .span-7 {width: 270px;}
.no-liquid .span-8 {width: 310px;}
.no-liquid .span-9 {width: 350px;}
.no-liquid .span-10 {width: 390px;}
.no-liquid .span-11 {width: 430px;}
.no-liquid .span-12 {width: 470px;}
.no-liquid .span-13 {width: 510px;}
.no-liquid .span-14 {width: 550px;}
.no-liquid .span-15 {width: 590px;}
.no-liquid .span-16 {width: 630px;}
.no-liquid .span-17 {width: 670px;}
.no-liquid .span-18 {width: 710px;}
.no-liquid .span-19 {width: 750px;}
.no-liquid .span-20 {width: 790px;}
.no-liquid .span-21 {width: 830px;}
.no-liquid .span-22 {width: 870px;}
.no-liquid .span-23 {width: 910px;}
.no-liquid .span-24 {width: 950px;}
.no-liquid .span-25 {width: 990px;}
.no-liquid .span-26 {width: 1030px;}
.no-liquid .span-27 {width: 1070px;}
.no-liquid .span-28 {width: 1110px;}
.no-liquid .span-29 {width: 1150px;}
.no-liquid .span-30 {width: 1190px;}
.no-liquid .span-31 {width: 1230px;}
.no-liquid .span-32 {width: 1280px;}


/* Use these classes to set the width of an input. */
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4,
input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8,
input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12,
input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16,
input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20,
input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24,
input.span-25, textarea.span-25, input.span-26, textarea.span-26, input.span-27, textarea.span-27, input.span-28, textarea.span-28,
input.span-29, textarea.span-29, input.span-30, textarea.span-30, input.span-31, textarea.span-31, input.span-32, textarea.span-32 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

input.span-1, textarea.span-1 { width: 1.406%; }
input.span-2, textarea.span-2 { width: 4.531%; }
input.span-3, textarea.span-3 { width: 7.656%; }
input.span-4, textarea.span-4 { width: 10.781%; }
input.span-5, textarea.span-5 { width: 13.906%; }
input.span-6, textarea.span-6 { width: 17.031%; }
input.span-7, textarea.span-7 { width: 20.156%; }
input.span-8, textarea.span-8 { width: 23.281%; }
input.span-9, textarea.span-9 { width: 26.406%; }
input.span-10, textarea.span-10 { width: 29.531%; }
input.span-11, textarea.span-11 { width: 32.656%; }
input.span-12, textarea.span-12 { width: 35.781%; }
input.span-13, textarea.span-13 { width: 38.906%; }
input.span-14, textarea.span-14 { width: 42.031%; }
input.span-15, textarea.span-15 { width: 45.156%; }
input.span-16, textarea.span-16 { width: 48.281%; }
input.span-17, textarea.span-17 { width: 51.406%; }
input.span-18, textarea.span-18 { width: 54.531%; }
input.span-19, textarea.span-19 { width: 57.656%; }
input.span-20, textarea.span-20 { width: 60.781%; }
input.span-21, textarea.span-21 { width: 63.906%; }
input.span-22, textarea.span-22 { width: 67.031%; }
input.span-23, textarea.span-23 { width: 70.156%; }
input.span-24, textarea.span-24 { width: 73.281%; }
input.span-25, textarea.span-25 { width: 76.406%; }
input.span-26, textarea.span-26 { width: 79.531%; }
input.span-27, textarea.span-27 { width: 82.656%; }
input.span-28, textarea.span-28 { width: 85.781%; }
input.span-29, textarea.span-29 { width: 88.906%; }
input.span-30, textarea.span-30 { width: 92.031%; }
input.span-31, textarea.span-31 { width: 95.156%; }
input.span-32, textarea.span-32 { width: 98.281%; }

.no-liquid input.span-1, .no-liquid textarea.span-1 { width: 18px; }
.no-liquid input.span-2, .no-liquid textarea.span-2 { width: 58px; }
.no-liquid input.span-3, .no-liquid textarea.span-3 { width: 98px; }
.no-liquid input.span-4, .no-liquid textarea.span-4 { width: 138px; }
.no-liquid input.span-5, .no-liquid textarea.span-5 { width: 178px; }
.no-liquid input.span-6, .no-liquid textarea.span-6 { width: 218px; }
.no-liquid input.span-7, .no-liquid textarea.span-7 { width: 258px; }
.no-liquid input.span-8, .no-liquid textarea.span-8 { width: 298px; }
.no-liquid input.span-9, .no-liquid textarea.span-9 { width: 338px; }
.no-liquid input.span-10, .no-liquid textarea.span-10 { width: 378px; }
.no-liquid input.span-11, .no-liquid textarea.span-11 { width: 418px; }
.no-liquid input.span-12, .no-liquid textarea.span-12 { width: 458px; }
.no-liquid input.span-13, .no-liquid textarea.span-13 { width: 498px; }
.no-liquid input.span-14, .no-liquid textarea.span-14 { width: 538px; }
.no-liquid input.span-15, .no-liquid textarea.span-15 { width: 578px; }
.no-liquid input.span-16, .no-liquid textarea.span-16 { width: 618px; }
.no-liquid input.span-17, .no-liquid textarea.span-17 { width: 658px; }
.no-liquid input.span-18, .no-liquid textarea.span-18 { width: 698px; }
.no-liquid input.span-19, .no-liquid textarea.span-19 { width: 738px; }
.no-liquid input.span-20, .no-liquid textarea.span-20 { width: 778px; }
.no-liquid input.span-21, .no-liquid textarea.span-21 { width: 818px; }
.no-liquid input.span-22, .no-liquid textarea.span-22 { width: 858px; }
.no-liquid input.span-23, .no-liquid textarea.span-23 { width: 898px; }
.no-liquid input.span-24, .no-liquid textarea.span-24 { width: 938px; }
.no-liquid input.span-25, .no-liquid textarea.span-25 { width: 978px; }
.no-liquid input.span-26, .no-liquid textarea.span-26 { width: 1018px; }
.no-liquid input.span-27, .no-liquid textarea.span-27 { width: 1058px; }
.no-liquid input.span-28, .no-liquid textarea.span-28 { width: 1098px; }
.no-liquid input.span-29, .no-liquid textarea.span-29 { width: 1138px; }
.no-liquid input.span-30, .no-liquid textarea.span-30 { width: 1178px; }
.no-liquid input.span-31, .no-liquid textarea.span-31 { width: 1218px; }
.no-liquid input.span-32, .no-liquid textarea.span-32 { width: 1258px; }

/* Add these to a column to append empty cols. */
.append-1 {padding-right: 3.150%;}
.append-2 {padding-right: 6.299%;}
.append-3 {padding-right: 9.449%;}
.append-4 {padding-right: 12.598%;}
.append-5 {padding-right: 15.748%;}
.append-6 {padding-right: 18.898%;}
.append-7 {padding-right: 22.047%;}
.append-8 {padding-right: 25.197%;}
.append-9 {padding-right: 28.346%;}
.append-10 {padding-right: 31.496%;}
.append-11 {padding-right: 34.646%;}
.append-12 {padding-right: 37.795%;}
.append-13 {padding-right: 40.945%;}
.append-14 {padding-right: 44.094%;}
.append-15 {padding-right: 47.244%;}
.append-16 {padding-right: 50.394%;}
.append-17 {padding-right: 53.394%;}
.append-18 {padding-right: 56.693%;}
.append-19 {padding-right: 59.843%;}
.append-20 {padding-right: 62.992%;}
.append-21 {padding-right: 66.142%;}
.append-22 {padding-right: 69.291%;}
.append-23 {padding-right: 72.441%;}
.append-24 {padding-right: 75.591%;}
.append-25 {padding-right: 78.740%;}
.append-26 {padding-right: 81.890%;}
.append-27 {padding-right: 85.039%;}
.append-28 {padding-right: 88.189%;}
.append-29 {padding-right: 91.339%;}
.append-30 {padding-right: 94.188%;}
.append-31 {padding-right: 97.638%;}

.no-liquid .append-1 { padding-right: 40px;}
.no-liquid .append-2 { padding-right: 80px;}
.no-liquid .append-3 { padding-right: 120px;}
.no-liquid .append-4 { padding-right: 160px;}
.no-liquid .append-5 { padding-right: 200px;}
.no-liquid .append-6 { padding-right: 240px;}
.no-liquid .append-7 { padding-right: 280px;}
.no-liquid .append-8 { padding-right: 320px;}
.no-liquid .append-9 { padding-right: 360px;}
.no-liquid .append-10 { padding-right: 400px;}
.no-liquid .append-11 { padding-right: 440px;}
.no-liquid .append-12 { padding-right: 480px;}
.no-liquid .append-13 { padding-right: 520px;}
.no-liquid .append-14 { padding-right: 560px;}
.no-liquid .append-15 { padding-right: 600px;}
.no-liquid .append-16 { padding-right: 640px;}
.no-liquid .append-17 { padding-right: 680px;}
.no-liquid .append-18 { padding-right: 720px;}
.no-liquid .append-19 { padding-right: 760px;}
.no-liquid .append-20 { padding-right: 800px;}
.no-liquid .append-21 { padding-right: 840px;}
.no-liquid .append-22 { padding-right: 880px;}
.no-liquid .append-23 { padding-right: 920px;}
.no-liquid .append-24 { padding-right: 960px;}
.no-liquid .append-25 { padding-right: 1000px;}
.no-liquid .append-26 { padding-right: 1040px;}
.no-liquid .append-27 { padding-right: 1080px;}
.no-liquid .append-28 { padding-right: 1120px;}
.no-liquid .append-29 { padding-right: 1160px;}
.no-liquid .append-30 { padding-right: 1200px;}
.no-liquid .append-31 { padding-right: 1240px;}

/* Add these to a column to prepend empty cols. */

.prepend-1 {padding-left: 3.150%;}
.prepend-2 {padding-left: 6.299%;}
.prepend-3 {padding-left: 9.449%;}
.prepend-4 {padding-left: 12.598%;}
.prepend-5 {padding-left: 15.748%;}
.prepend-6 {padding-left: 18.898%;}
.prepend-7 {padding-left: 22.047%;}
.prepend-8 {padding-left: 25.197%;}
.prepend-9 {padding-left: 28.346%;}
.prepend-10 {padding-left: 31.496%;}
.prepend-11 {padding-left: 34.646%;}
.prepend-12 {padding-left: 37.795%;}
.prepend-13 {padding-left: 40.945%;}
.prepend-14 {padding-left: 44.094%;}
.prepend-15 {padding-left: 47.244%;}
.prepend-16 {padding-left: 50.394%;}
.prepend-17 {padding-left: 53.394%;}
.prepend-18 {padding-left: 56.693%;}
.prepend-19 {padding-left: 59.843%;}
.prepend-20 {padding-left: 62.992%;}
.prepend-21 {padding-left: 66.142%;}
.prepend-22 {padding-left: 69.291%;}
.prepend-23 {padding-left: 72.441%;}
.prepend-24 {padding-left: 75.591%;}
.prepend-25 {padding-left: 78.740%;}
.prepend-26 {padding-left: 81.890%;}
.prepend-27 {padding-left: 85.039%;}
.prepend-28 {padding-left: 88.189%;}
.prepend-29 {padding-left: 91.339%;}
.prepend-30 {padding-left: 94.188%;}
.prepend-31 {padding-left: 97.638%;}

.no-liquid .prepend-1 { padding-left: 40px;}
.no-liquid .prepend-2 { padding-left: 80px;}
.no-liquid .prepend-3 { padding-left: 120px;}
.no-liquid .prepend-4 { padding-left: 160px;}
.no-liquid .prepend-5 { padding-left: 200px;}
.no-liquid .prepend-6 { padding-left: 240px;}
.no-liquid .prepend-7 { padding-left: 280px;}
.no-liquid .prepend-8 { padding-left: 320px;}
.no-liquid .prepend-9 { padding-left: 360px;}
.no-liquid .prepend-10 { padding-left: 400px;}
.no-liquid .prepend-11 { padding-left: 440px;}
.no-liquid .prepend-12 { padding-left: 480px;}
.no-liquid .prepend-13 { padding-left: 520px;}
.no-liquid .prepend-14 { padding-left: 560px;}
.no-liquid .prepend-15 { padding-left: 600px;}
.no-liquid .prepend-16 { padding-left: 640px;}
.no-liquid .prepend-17 { padding-left: 680px;}
.no-liquid .prepend-18 { padding-left: 720px;}
.no-liquid .prepend-19 { padding-left: 760px;}
.no-liquid .prepend-20 { padding-left: 800px;}
.no-liquid .prepend-21 { padding-left: 840px;}
.no-liquid .prepend-22 { padding-left: 880px;}
.no-liquid .prepend-23 { padding-left: 920px;}
.no-liquid .prepend-24 { padding-left: 960px;}
.no-liquid .prepend-25 { padding-left: 1000px;}
.no-liquid .prepend-26 { padding-left: 1040px;}
.no-liquid .prepend-27 { padding-left: 1080px;}
.no-liquid .prepend-28 { padding-left: 1120px;}
.no-liquid .prepend-29 { padding-left: 1160px;}
.no-liquid .prepend-30 { padding-left: 1200px;}
.no-liquid .prepend-31 { padding-left: 1240px;}

/* Border on right hand side of a column. */
.border {
/*  padding-right: 0.32%;
  margin-right: 0.39%;
  border-right: 1px solid #ddd;*/
}

.no-liquid .border {
  padding-right: 4px;
  margin-right: 5px;
}

/* Border with more whitespace, spans one column. */
.colborder {
  padding-right: 1.875%;
  margin-right: 1.953%;
  border-right: 1px solid #ddd;
}

.no-liquid .colborder {
  padding-right: 24px;
  margin-right: 25px;
}

/* Use these classes on an element to push it into the
next column, or to pull it into the previous column.  */
.pull-1 { margin: 0 3.125% 1.5em -3.125%; }
.pull-2 { margin: 0 6.25% 1.5em -6.25%; }
.pull-3 { margin: 0 9.375% 1.5em -9.375%; }
.pull-4 { margin: 0 12.5% 1.5em -12.5%; }
.pull-5 { margin: 0 15.625% 1.5em -15.625%; }
.pull-6 { margin: 0 18.750% 1.5em -18.750%; }
.pull-7 { margin: 0 21.875% 1.5em -21.875%; }
.pull-8 { margin: 0 25.0% 1.5em -25.0%; }
.pull-9 { margin: 0 28.125% 1.5em -28.125%; }
.pull-10 { margin: 0 31.25% 1.5em -31.25%; }
.pull-11 { margin: 0 34.375% 1.5em -34.375%; }
.pull-12 { margin: 0 37.5% 1.5em -37.5%; }
.pull-13 { margin: 0 40.625% 1.5em -40.625%; }
.pull-14 { margin: 0 43.75% 1.5em -43.75%; }
.pull-15 { margin: 0 46.875% 1.5em -46.875%; }
.pull-16 { margin: 0 50.0% 1.5em -50.0%; }
.pull-17 { margin: 0 53.125% 1.5em -53.125%; }
.pull-18 { margin: 0 56.250% 1.5em -56.250%; }
.pull-19 { margin: 0 59.375% 1.5em -59.375%; }
.pull-20 { margin: 0 62.5% 1.5em -62.5%; }
.pull-21 { margin: 0 65.625% 1.5em -65.625%; }
.pull-22 { margin: 0 68.75% 1.5em -68.75%; }
.pull-23 { margin: 0 71.875% 1.5em -71.875%; }
.pull-24 { margin: 0 75.0% 1.5em -75.0%; }
.pull-25 { margin: 0 78.125% 1.5em -78.125%; }
.pull-26 { margin: 0 81.25% 1.5em -81.25%; }
.pull-27 { margin: 0 84.375% 1.5em -84.375%; }
.pull-28 { margin: 0 87.5% 1.5em -87.5%; }
.pull-29 { margin: 0 90.625% 1.5em -90.625%; }
.pull-30 { margin: 0 93.75% 1.5em -93.75%; }
.pull-31 { margin: 0 96.875% 1.5em -96.875%; }
.pull-32 { margin: 0 100% 1.5em -100%; }

.no-liquid .pull-1 { margin-left: -40px; }
.no-liquid .pull-2 { margin-left: -80px; }
.no-liquid .pull-3 { margin-left: -120px; }
.no-liquid .pull-4 { margin-left: -160px; }
.no-liquid .pull-5 { margin-left: -200px; }
.no-liquid .pull-6 { margin-left: -240px; }
.no-liquid .pull-7 { margin-left: -280px; }
.no-liquid .pull-8 { margin-left: -320px; }
.no-liquid .pull-9 { margin-left: -360px; }
.no-liquid .pull-10 { margin-left: -400px; }
.no-liquid .pull-11 { margin-left: -440px; }
.no-liquid .pull-12 { margin-left: -480px; }
.no-liquid .pull-13 { margin-left: -520px; }
.no-liquid .pull-14 { margin-left: -560px; }
.no-liquid .pull-15 { margin-left: -600px; }
.no-liquid .pull-16 { margin-left: -640px; }
.no-liquid .pull-17 { margin-left: -680px; }
.no-liquid .pull-18 { margin-left: -720px; }
.no-liquid .pull-19 { margin-left: -760px; }
.no-liquid .pull-20 { margin-left: -800px; }
.no-liquid .pull-21 { margin-left: -840px; }
.no-liquid .pull-22 { margin-left: -880px; }
.no-liquid .pull-23 { margin-left: -920px; }
.no-liquid .pull-24 { margin-left: -960px; }
.no-liquid .pull-25 { margin-left: -1000px; }
.no-liquid .pull-26 { margin-left: -1040px; }
.no-liquid .pull-27 { margin-left: -1080px; }
.no-liquid .pull-28 { margin-left: -1120px; }
.no-liquid .pull-29 { margin-left: -1160px; }
.no-liquid .pull-30 { margin-left: -1200px; }
.no-liquid .pull-31 { margin-left: -1240px; }
.no-liquid .pull-32 { margin-left: -1280px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12,
.pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24,
.pull-25, .pull-26, .pull-27, .pull-28, .pull-29, .pull-30, .pull-31, .pull-32 {
	float: left; position:relative;
}


.push-1 { margin: 0 -3.125% 1.5em 3.125%; }
.push-2 { margin: 0 -6.25% 1.5em 6.25%; }
.push-3 { margin: 0 -9.375% 1.5em 9.375%; }
.push-4 { margin: 0 -12.5% 1.5em 12.5%; }
.push-5 { margin: 0 -15.625% 1.5em 15.625%; }
.push-6 { margin: 0 -18.750% 1.5em 18.750%; }
.push-7 { margin: 0 -21.875% 1.5em 21.875%; }
.push-8 { margin: 0 -25.0% 1.5em 25.0%; }
.push-9 { margin: 0 -28.125% 1.5em 28.125%; }
.push-10 { margin: 0 -31.25% 1.5em 31.25%; }
.push-11 { margin: 0 -34.375% 1.5em 34.375%; }
.push-12 { margin: 0 -37.5% 1.5em 37.5%; }
.push-13 { margin: 0 -40.625% 1.5em 40.625%; }
.push-14 { margin: 0 -43.75% 1.5em 43.75%; }
.push-15 { margin: 0 -46.875% 1.5em 46.875%; }
.push-16 { margin: 0 -50.0% 1.5em 50.0%; }
.push-17 { margin: 0 -53.125% 1.5em 53.125%; }
.push-18 { margin: 0 -56.250% 1.5em 56.250%; }
.push-19 { margin: 0 -59.375% 1.5em 59.375%; }
.push-20 { margin: 0 -62.5% 1.5em 62.5%; }
.push-21 { margin: 0 -65.625% 1.5em 65.625%; }
.push-22 { margin: 0 -68.75% 1.5em 68.75%; }
.push-23 { margin: 0 -71.875% 1.5em 71.875%; }
.push-24 { margin: 0 -75.0% 1.5em 75.0%; }
.push-25 { margin: 0 -78.125% 1.5em 78.125%; }
.push-26 { margin: 0 -81.25% 1.5em 81.25%; }
.push-27 { margin: 0 -84.375% 1.5em 84.375%; }
.push-28 { margin: 0 -87.5% 1.5em 87.5%; }
.push-29 { margin: 0 -90.625% 1.5em 90.625%; }
.push-30 { margin: 0 -93.75% 1.5em 93.75%; }
.push-31 { margin: 0 -96.875% 1.5em 96.875%; }
.push-32 { margin: 0 -100% 1.5em 100%; }

.no-liquid .push-1 { margin: 0 -40px 0 40px; }
.no-liquid .push-2 { margin: 0 -80px 0 80px; }
.no-liquid .push-3 { margin: 0 -120px 0 120px; }
.no-liquid .push-4 { margin: 0 -160px 0 160px; }
.no-liquid .push-5 { margin: 0 -200px 0 200px; }
.no-liquid .push-6 { margin: 0 -240px 0 240px; }
.no-liquid .push-7 { margin: 0 -280px 0 280px; }
.no-liquid .push-8 { margin: 0 -320px 0 320px; }
.no-liquid .push-9 { margin: 0 -360px 0 360px; }
.no-liquid .push-10 { margin: 0 -400px 0 400px; }
.no-liquid .push-11 { margin: 0 -440px 0 440px; }
.no-liquid .push-12 { margin: 0 -480px 0 480px; }
.no-liquid .push-13 { margin: 0 -520px 0 520px; }
.no-liquid .push-14 { margin: 0 -560px 0 560px; }
.no-liquid .push-15 { margin: 0 -600px 0 600px; }
.no-liquid .push-16 { margin: 0 -640px 0 640px; }
.no-liquid .push-17 { margin: 0 -680px 0 680px; }
.no-liquid .push-18 { margin: 0 -720px 0 720px; }
.no-liquid .push-19 { margin: 0 -760px 0 760px; }
.no-liquid .push-20 { margin: 0 -800px 0 800px; }
.no-liquid .push-21 { margin: 0 -840px 0 840px; }
.no-liquid .push-22 { margin: 0 -880px 0 880px; }
.no-liquid .push-23 { margin: 0 -920px 0 920px; }
.no-liquid .push-24 { margin: 0 -960px 0 960px; }
.no-liquid .push-25 { margin: 0 -800px 0 1000px; }
.no-liquid .push-26 { margin: 0 -840px 0 1040px; }
.no-liquid .push-27 { margin: 0 -880px 0 1080px; }
.no-liquid .push-28 { margin: 0 -920px 0 1120px; }
.no-liquid .push-29 { margin: 0 -960px 0 1160px; }
.no-liquid .push-30 { margin: 0 -800px 0 1200px; }
.no-liquid .push-31 { margin: 0 -840px 0 1240px; }
.no-liquid .push-32 { margin: 0 -880px 0 1280px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12,
.push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24,
.push-25, .push-26, .push-27, .push-28, .push-29, .push-30, .push-31, .push-32 {
	float: left; position:relative;
	padding-right: 0.781%;
}

.no-liquid .push-1, .no-liquid .push-2, .no-liquid .push-3, .no-liquid .push-4, .no-liquid .push-5, .no-liquid .push-6,
.no-liquid .push-7, .no-liquid .push-8, .no-liquid .push-9, .no-liquid .push-10, .no-liquid .push-11, .no-liquid .push-12,
.no-liquid .push-13, .no-liquid .push-14, .no-liquid .push-15, .no-liquid .push-16, .no-liquid .push-17, .no-liquid .push-18,
.no-liquid .push-19, .no-liquid .push-20, .no-liquid .push-21, .no-liquid .push-22, .no-liquid .push-23, .no-liquid .push-24 {
	padding-right: 10px;
}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
div.prepend-top, .prepend-top {
  margin-top:1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom:1.5em;
}

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.45em;
  border: none;
}

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }

/*
 *  Resize images
 */
img:not([width]):not([height]) {
	height: auto;
	max-width: 100%;
}