/* New Cityline */
#menu {
	background: url('/media/newcityline/images/bg_green.png') #838665;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0.786em;
	/*display: none;*/
}

#menu ul, .menuContainer table, .menuContainer td, .menuContainer tr {
	margin: 0;
	padding: 0;
}

#menu > ul {
	padding-left: 1.3%;
	line-height: 3em;
}

#menu ul li {
	float: left;
	list-style-type: none;
	height: 42px;
	overflow: hidden;
}

#menu ul li > ul li {
	float: none;
}

#menu ul li a {
	font-size: 1.286em;
	color: #f5f5f5;
	padding: 10px 22px;
	margin-right: 2px;
}

#menu ul li a:hover {
	color: #838665;
	background: #fff;
	border-radius: 30px;
	text-shadow: none;
}

#menu > ul > li[menu^="menu"] > a {
	padding-right: 30px;
	background: url("../images/angle_down_w.png") 92% 22px no-repeat;
}

#menu > ul > li[menu^="menu"].selected:hover > a,
#menu li[menu^="menu"][isopen^="true"].selected > a,
#menu > ul > li > a.inh_ancestor,
#menu > ul > li > a.inh_selected{
	background: url("../images/angle_down.png") 92% 22px no-repeat #fff;
	border-radius: 30px;
	text-shadow: none;
	color: #838665;
	text-decoration: none;
	position: relative;
	z-index: 21;
}

#menu > ul > li[menu="empty"] > a.inh_selected{
	background: #fff;
}

/* контейнер с подменю */
a.submenu {
	background: #fff;
	color: #838665;
	text-shadow: 0 0 0;
	display: block;
	padding: 0px;
}

a.submenu.lvl_2 {
	padding: 0px 7px;
}

a.submenu:hover {
	color: #fff;
}

a.submenu span {
	padding: 7px 18px;
	display: block;
}

a.submenu.lvl_2 span {
	border-radius: 5px;
	padding: 9px 14px 9px 18px;
}

a.submenu:hover span {
	background: #838665;
}

a.lvl_2 {
	padding: 0 7px;
	text-decoration: none;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

a.lvl_2.first-element {
	padding-top: 27px;
	margin-top: -27px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

a.lvl_2.last-element {
	padding-bottom: 5px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.menuContainer .menuArrow > a span{
	background: url("../images/angle_right_h.png") 95% 50% no-repeat;
}

.menuContainer .selected .menuArrow > a span,
.menuArrow > a.inh_ancestor span{
	background: url("../images/angle_right.png") 95% 50% no-repeat #838665;
}

.menuContainer .selected .menuArrow > a,
.menuArrow > a.inh_ancestor
{
	color: #fff;
	text-decoration: none;
}

.menuDiv { z-index: 10; }