/* sidebar */
.archive ul {
	margin: 0;
	padding: 0;
	font-size: 0.929em;
}

#main .archive li {
	list-style-image: none;
	margin-right: 0.583em;
}

.year {
	margin-bottom: 2.357em;
}

ul.month {
	margin-top: 0.642em;
}

.month li {
	float: left;
}

/* блок с новостью*/
.vevent {
	padding-left: 3.571em;
	background: url('../images/icons_news.png') 1.928em 1.428em no-repeat;
	padding-top: 1.071em;
	padding-bottom: 1.071em;
	cursor: pointer;
	border-radius: 10px;
}

.vevent.star {
	background-image: url('../images/icons_news_star.png');
}

.vevent:hover, .event.star:hover {
	background-color: #fff;
}

/* список новостей */
.element {
	font-size: 0.857em;
	line-height: 1.367em;
}

.element a {
	font-size: 1.25em;
}

.description {
	margin-top: 0.2em;
	margin-bottom: 0.75em;
}

.dtstart, .dtend {
	color: #9ca6ad;
	font-size: 0.916em;
	border-bottom: none;
}

/* если нет краткого описания */
.empty_desc {
	font-size: 1px;
}
