#old_browser_banner tbody tr td{
	background: #32424f url("/media/textura.gif");
}
#old_browser_banner{
	background: #32424f url("/media/textura.gif");
	color: #e5e5e5;
	font-size: 12pt;
	min-width: 950px;
	width: 100%;
}

#old_browser_banner h3{
	color: #e5e5e5;
	font-size: 17pt;
	line-height:28px;
}

#old_browser_banner a{
	color: #d0d0d0;
	text-decoration: none;
}

#old_browser_banner a:hover {
	color: #fff;
}

#old_browser_banner	.close_button a {
	padding: 1px 12px;
	font-weight: bold;
	font-size: 14pt;
	display: block;
	height: 34px;
	width: 34px;
	background: url("/media/old_browsers/images/close.gif") no-repeat;
}

#old_browser_banner table{
	width: 100%;
}
.pad{
	width: 7%;
}

#old_browser_banner .ie6bar_top td{
	vertical-align: top;
}

#old_browser_banner .ie6bar_bottom td{
	text-align:center;
}

#old_browser_banner .ie6bar_top .play-video a {
	font-size: 10pt;
	display: block;
	height: 116px;
	width: 260px;
	background: url("/media/old_browsers/images/play.gif") no-repeat;
	padding: 20px 10px 10px 160px;
}
