@using System.Globalization
@using System.Threading
@using Inforoom2.Models
@using Inforoom2.Models.Services

@model dynamic

@{
	Client client = ViewBag.Client;
	ViewBag.Title = "Личный кабинет: Обещанный платеж";
	DeferredPayment service = ViewBag.DeferredPayment;
}

<h2 class="heading">@ViewBag.Title</h2>

@{ Html.RenderPartial("Menu"); }

 <div class="right-block">
	@if (client.CanUseService(service)) {
		<p class="parag">	Услуга "Обещанный платеж" открывает доступ к Интернет, сроком на 3-e суток, при отрицательном балансе. Услуга бесплатная.
			Услуга предоставляется однократно. Повторное использование возможно после внесения платежа, покрывающего задолженность.</p>
		<br/>
		using (@Html.BeginForm("ActivateDefferedPayment", "Service", null, FormMethod.Post)) {
			@Html.HiddenFor(modelItem => service.Id)
			<input class="button" type="submit" value="Подключить"/>
		}
	}
	else {
		<text>Услуга @service.Name не доступна</text>
	}
</div>