@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/ConnectionTeamController.ConnectionTable.js?v=2")"></script>}
@{
	ViewBag.Title = "График подключений";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary col-md-12">
	<a class="btn btn-blue btn-icon icon-left" id="PrintTimeTableValue" href="@Url.Action("PrintTimeTable")">
		Сформировать документ
		<i class="entypo-print"></i>
	</a>
</div>
@{ Html.RenderPartial("ConnectionTable"); }
