[submodule "lib/MonoRail.Debugger.Toolbar"]
	path = lib/MonoRail.Debugger.Toolbar
	url = git@git.analit.net:root/monorail-debugger-toolbar
[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = git@git.analit.net:root/common-tools
[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = git@git.analit.net:root/common-mysql
[submodule "src/Test.Support"]
	path = src/Test.Support
	url = git@git.analit.net:root/test-support
[submodule "src/Common.Web.UI"]
	path = src/Common.Web.UI
	url = git@git.analit.net:root/common-web-ui
