[submodule "lib/MonoRail.Debugger.Toolbar"]
	path = lib/MonoRail.Debugger.Toolbar
	url = ssh://git.analit.net/var/www/git/MonoRail.Debugger.Toolbar
[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = ssh://git.analit.net/var/www/git/Common.Tools
[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = ssh://git.analit.net/var/www/git/Common.MySql
[submodule "src/Test.Support"]
	path = src/Test.Support
	url = ssh://git.analit.net/var/www/git/Test.Support
[submodule "src/Common.Web.UI"]
	path = src/Common.Web.UI
	url = ssh://git.analit.net/kvasovtest/common-web-ui.git
