@media print {
	h1 {
		font-size: 12px;
		font-weight: bold;
		margin: 10px 0;
	}
	h2 {
		font-size: 11px;
		font-weight: bold;
		margin: 10px 0;
	}
	h3 {
		font-size: 10px;
		font-weight: bold;
		margin: 10px 0;
	}
	h4 {
		font-size: 9px;
		font-weight: bold;
		margin: 10px 0;
	}
	body {
		font-size: 9px;
	}
	.page-break {
		page-break-before: always;
	}
	.breadcrumb {
		display: none;
	}
	.table {
		color: rgb(51, 51, 51);
	}
	div.flash {
		display: none;
	}
	/*перегружаем styles.css*/
	p {
		font-size: 9px;
		line-height: inherit;
	}
}

table.sing {
	width: 100%
}

li {
	margin-left: 40px;
}