
.personals {width: 175px;height: 20px;display: inline-block;margin-bottom: 35px;}
.personal {height: 28px;width: 345px;background: none repeat scroll 0 0 #f1f1f1;border: 1px solid #dadada;}
.personal:focus {box-shadow: 0 0 7px  #ca1e27;border: 1px solid #dadada!important;}
.block {display: inline-block;}
.addon {display: inline-block;width: 80px;margin-bottom: 30px;}
.addons {display: inline-block;height: 25px;width: 70px;margin-right: 5px; background: none repeat scroll 0 0 #f1f1f1;border: 1px solid #dadada;}
.success {display: inline-block;}
.success .icon {background: url("../Images/tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 16px;}
.rounded {color: #8f8f8f;font-family: PTSans;font-size: 13px;font-weight: bold;height: 32px; padding-left: 13px;width: 272px;background: none repeat scroll 0 0 #f1f1f1;
         border: 1px solid #d2d2d2;box-shadow: 0 0 1px;}
.map {width: 442px;height: 445px; background: url("../Images/map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block; position: absolute;
    right: 62px;top: 5px;}
.contract {margin-left: 100px;margin-top: 36px;width: 925px;font-family: PTSans;font-size: 14px;}
