
.leftpersonal {margin-left: 102px;margin-top: 19px;width: 550px;height: 400px;display: inline-block;}
.personals {width: 175px;height: 20px;display: inline-block;margin-bottom: 35px;}
.block {display: inline-block;}
.addon {display: inline-block;width: 91px;margin-bottom: 30px;}
.success {display: inline-block;}
.success .icon {background: url("../Images/tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 16px;}
.map {width: 442px;height: 445px; background: url("../Images/map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block; position: absolute;
    right: 62px;top: 89px;}
.contract {margin-left: 100px;margin-top: 36px;width: 925px;font-family: PTSans;font-size: 14px;}
.contract p {font-size: 13px;color: #8b8b8b;}
.resend {background: none repeat scroll 0 0 #aa181e;border: medium none;border-radius: 2px;color: #ffffff;cursor: pointer;font-family: PDFDinTextPro;font-size: 20px;
margin-bottom: 20px;margin-left: 478px;margin-top: 17px;padding: 5px 44px;}
