 @media print {
	.main-content > *, .doNotPrint > *, .doNotPrint{ display: none !important;}
	.main-content .servicemen.panel, .PrintTimeTable{ display: block !important;}
	.pageBreak {page-break-after: always;} 
} 
 .ListItemResIndex,.ListItem [name='IndexButtonUp'], .ListItem [name='IndexButtonDown']{ color: #00549e !important;}
 .endpointStateChanged td{background: #ffffbf !important;}
 .red-h { color: #ce2205 !important;}
 .padding-bt-10{ padding-bottom: 10px;}
 .backIsRed td{ background: #ffebeb !important;}
 .backIsRed{ background: #ffdede !important;}
 a.c-pointer.blue span{ color: #A5A5A5!important;font-weight: normal;}
 a.c-pointer.blue:hover span{ color: #E86E6E!important;}
 .panel.panel-blue{border-color: #337ab7 !important;}
 .panel.panel-blue .panel-heading{    color: #fff !important;background-color: #337ab7 !important;border-color: #337ab7 !important;}
 .panel.panel-blue h3{    color: #fff !important;}
 .logo.hlink a{ font-size: 20px;font-weight: normal !important;}
 div a.linkLegal{color:#0D90D4;}
  div a.linkLegal:hover {color:#0477B7} 
 div a.linkPhysical{color:#10A257;}
  div a.linkPhysical:hover{color:#018A44;}
 .font-12{font-size: 12px;display: block;text-align: right;}
 .ListOrderArchive .phantomBlock{ max-width: 800px;}
 .no-margin{ margin: 0px !important;}
 .alert-danger{position: fixed;top: 18px;min-width: 572px;width: 62%;z-index: 99999;border:9px solid #BD3737; font-size: 13px;}
 span.red.bold{padding-left: 2px; font-weight: bold; color: #C70E0E;}
 .gray.bold{padding-left: 2px; font-weight: bold; color: #888888;}
 .gray{color: #888888 !important;}
.black{color: #333!important;}
.red{color:#E60000!important;}
.blue{color:#1091d4!important;}
.inline{display: inline-block;}
 .listItem.gray:hover{background: #E2E2E2 !important;}
 .error{color:red; font-weight:600 !important;}
 .servicemen table { table-layout:fixed; overflow:hidden;}
 .servicemen td { height: 40px;}
 .table thead a.checked {color: #00ACF1;}
 .table thead a.checked.asc {color: #ff0000;}
 .hid{ display: none;}
 body { color: #424242; }
 body a{ color: #00984A;font-weight: bold; }
 .max-width200{    max-width: 400px;}
 .width-176{width: 176px !important}
 .width-150{width: 150px !important}
 .contactList { padding-left: 20px;margin-top: 4px;} 
 .contactList .contact { margin-top: 3px;display: block;}
 .contactList .contact:hover { font-weight: bold;}
 .hiddenOverflow {display: block;overflow: hidden;}
 .emptyBlock .orderListBorder .order h5:first-of-type{    margin-bottom: 13px;}
 .border-right-white tr td:last-child{border-right-color: #fff;}
 .emptyBlock .orderListBorder .order h5 strong.right{display: inline-block;position: absolute;text-align: right;right: 0px;margin-right: 24px;}
 .emptyBlock .orderListBorder .order h5 strong.right a{margin-right: 9px; font-weight: 300; border-bottom: 1px dashed #C1C1C1;}
 .emptyBlock .orderListBorder .order h5 strong.right a:hover{ border-bottom:none;}
 .emptyBlock .orderListBorder .orderTitle{ color: #0D52AB!important; cursor:pointer;}
 .emptyBlock .orderListBorder .line-through{    border-bottom: 2px solid #EAD5BF;width: 100%;display: block;margin: auto;margin-bottom: 21px;}
 .emptyBlock .orderListBorder .orderColumn h5 strong{ color: #636363;}
 .emptyBlock .orderListBorder .orderColumn h5 strong.margin-left{margin-left: 13px !important}
 .emptyBlock .orderListBorder .orderColumn h5 strong.margin-left{margin-left: 13px !important}
 .emptyBlock .orderListBorder span.red.bold{width: 40px;display: inline-block;}
 .emptyBlock .orderListBorder span.gray.left{ color: #8E8E8E;}
 .emptyBlock .orderListBorder .width-120{width: 120px !important}
 .emptyBlock .orderListBorder .width-240{width: 240px !important}
 .emptyBlock .orderListBorder .orderColumn{ border-color: #fff!important;}
 .emptyBlock .orderListBorder .orderColumn:first-of-type { border-top: 2px solid #8C9BA5!important;}
 .emptyBlock .orderListBorder .orderColumn{ border-bottom: 2px solid #677BB1!important;}
 .emptyBlock .panel-heading .panel-title.bold{    padding-left: 10px;}
 .emptyBlock .online td{background: #BDE8BC !important; }
 .InfoPhysicalNaviPan a{border: 1px solid #fff !important;}
 .appeal.Block.statusDissolved td{background: #FF5454 !important;}
 .fileUpload {position: relative;overflow: hidden;margin: 10px;}
 .fileUploadPathWrapper{ padding-bottom: 0px;}
 .fileUploadPath{width: 286px;padding-left: 4px;padding-top: 2px;}
 .fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);}
 .ClientEndPointStateBaseInfo .rent{float: left;}
 .ClientEndPointStateBaseInfo .time{float: left;display: block;margin-top: 16px;position: absolute;}
 .ClientEndPointStateBaseInfo td{ min-width: 128px !important;}
 .endpointTitle { font-weight: bold; color: #c1c1c1;}
 .endpointSettings{display: inline-block;float: right;margin-right: 6px;}
 .endpointSettings .deactivate{ width: 124px;display: inline-block;color: #c70000;}
 .endpointSettings .deactivate span{border-bottom: 1px dashed #b3b3b3;}
 .endpointSettings .deactivate span:hover{border-bottom: none;}
 .endpointTitle.enabled{ color: #009250;}
 .endpointTitle.disabled{ color: #C70E0E;}
 .connectedHouses{}
 .connectedHouses td a.house{display: inline-block;min-width: 36px;height: 38px;background: #f1f1f1;border: 1px solid #c1c1c1;color: #24809c;text-align: center;margin: 1px; padding-left: 4px;padding-right: 4px;}
 .connectedHouses td a.house:hover{ border: 1px solid #4bab32;}
 .connectedHouses td a.house.disabled {background: #ffe8e8;color: #333;border: 1px solid #000;}
 .connectedHouses td a.house.custom {background: #e8f1e5;}
 .connectedHouses td a.house span{position: relative;top: 10px;}
.connectedHouses td a.house.selected span{ background: #fbf176;}
 #switchPorts tbody.large{  border: 1px solid #808080;border-bottom: none;border-left: none;border-top: 4px solid #333;}
 #switchPorts tbody.large tr:nth-child(2n) {border-bottom: 4px solid #333;}
 #switchPorts tbody{  border: 1px solid #808080;border-bottom: none;border-left: none;}
 #switchPorts .port {display: block;width: 24px;height: 24px;text-align: center;background: #FFF9B3;cursor: pointer;border-bottom: 1px solid #808080;border-left: 1px solid #808080;}
 #switchPorts td:last-child {border-right: 1px solid #808080;}
 #switchPorts .port.free{background: #A8DAB3;}
 #switchPorts .port.free:hover{background: #65C77A;}
 #switchPorts .port.free:hover span{ color: #000;}
 #switchPorts .port.client{background: #F7ADAD;}
 #switchPorts .port.client:hover{background: #FF7878;}
 #switchPorts .port span{ position: relative;top: 12%;font-size: 13px;color:#333;}
 #HardwareListForm .tableInside th.a{width: 350px!important;}
 #HardwareListForm .tableInside th.b{width: 90px!important;}
 #HardwareListForm .tableInside th.c{width: 226px!important;}
 .endpointStateStatus.portLink{padding: 2px 14px 2px 14px;background: #EAEAEA;}
 .PortConnectionStateWait{width: 74px;    position: absolute;margin-top: -36px;}
 .PortConnectionState .ip{width: 46%;float: left;border-right: 10px solid #CACACA;padding-left: 12px;color: #fff !important; padding-top: 2px; font-size: 11px;}
.PortConnectionState .ip.isRed{background: #CE0000 !important;}
.PortConnectionState .ip.isGreen{background: #009E29 !important;}
 .PortConnectionState .state{ width: 46%; float: left; padding-left: 12px; color: #fff !important;}
 .PortConnectionState .state.isRed{ background: #CE0000 !important;}
 .PortConnectionState .state.isGreen{background: #009E29 !important;}
 .ClientEndpointInfoBlock{ max-width: 800px;padding-left: 15px;padding-right: 15px;}
 .ClientEndpointInfoBlock .wait{vertical-align: middle;}
 .ClientEndpointInfoBlock .wait img{display:table-cell;width: 200px;margin: auto;padding-bottom: 44px;}
 .portInfoData{background: #EAEAEA;padding: 4px;color: #E80000;font-weight: bold;}  
 .table .no-end-point td{background: #E5FCFD !important;}
 .table .fixedIp{ display: inline-block;}
 .table .fixedIp.text{ width: 120px !important;}
 .table .fixedIp.value{ width: 80px !important; margin-left: 3px;}
 .archiveClientOrder tr.serv{border-top: 2px solid #969696  !important;}
 .archiveClientOrder tr.serv:first-of-type{border-top: 2px solid #CCCCCC !important;} 
 .archiveClientOrder tr.serv:last-of-type{border-bottom: 2px solid #969696  !important;} 
 table .staticIpElement a.delete span:first-child,.serviceRemove span:first-child{color: #005CB5;font-size: 16px;}
 table .staticIpElement a.delete span:last-child,.serviceRemove span:last-child{color: #006BCA;top: -2px;position: relative;margin-left: 2px;cursor: pointer; border-bottom: 1px dashed #00549E;}
 table .staticIpElement a.delete:hover span:last-child,.serviceRemove:hover span:last-child { border-bottom: none;}
 .disabledEmployeeButton{width: 200px !important; color: #bd3737!important;}
 .disabledEmployee a{color: #D80000!important;}
 a.addStaticIpElement span:first-child,.addNewElement span:first-child{color: #940000;font-size: 16px;}
 a.addStaticIpElement span:last-child,.addNewElement span:last-child{color: #E40000;top: -2px;position: relative;margin-left: 2px;cursor: pointer; border-bottom: 1px dashed #DA0000;}
 a.addStaticIpElement:hover span:last-child,.addNewElement:hover span:last-child { border-bottom: none;}
 .OrderServicePanel{background: #EFEFEF;padding-bottom: 1px;border-bottom: 10px solid #E6E6E6;}
 .addOrderServiceElement{margin-bottom: 6px;display: block;width: 138px;background: #FFFFFF;padding-left: 5px;padding-right: 10px;border: 1px solid #E0E0E0;text-align: center;cursor: pointer;}
 .addServiceTable{margin-bottom: 8px;}
 .centeredCheckBox{text-align: center; width: 253px;}
 #ModelForOrderClose .modal-body,#ModelForOrderEdit .modal-body{padding-bottom: 10px;}
 #ModelForOrderClose .modal-body,#ModelForOrderEdit #ClientEndpointDropDown{ color: #b90202;}
 #ModelForOrderClose .modal-body,#ModelForOrderEdit #ClientEndpointDropDown option:first-child{ color: #d40404;}
 #ModelForOrderClose .modal-body,#ModelForOrderEdit #ClientEndpointDropDown option{ color: #000;}
 #clientReciverMessage{padding-top: 8px;margin-bottom: 0px;color: #1C9407;}
 #ClientEditorForm .addressDetails.top-bottom{padding-top: 6px;padding-bottom: 5px;display: block;}
 #ModelForWriteOffsAdd table,  #ModelForPaymentsAdd table{margin-bottom: 0px;}
 #ModelForWriteOffsAdd .modal-body,  #ModelForPaymentsAdd .modal-body{padding-bottom: 4px;}
 .markerTable td{ padding: 2px; }
 .InfoPhysicalNaviPan a.btn{ font-size: 12px;}
.blockJsLockControll a.blue{ color: #0072BC;}
.blockJsLockControll a.blue:hover{ color: #626A6F;}
.blockJsLockControll a.red{ color: #D20000;}
.blockJsLockControll a.red:hover{ color: #C30000;}
 table .payment .buttons {padding: 0px;}
 table .payment .buttons a{display: block;padding: 3px 5px 3px 5px;cursor: pointer;    text-align: right; }
 table .payment .buttons a span{border-bottom: 1px dashed #B3B3B3;}
 table .payment .buttons a:hover span{border-bottom: none;}
 table .payment .buttons .cancel{color: #DE4444;}
 table .payment .buttons .move{border-top: 1px solid #E0E0E0;    padding-top: 4px;}
 table .payment.green td{background: #D9FBDC !important;}
 table .payment.red td{background: #FFCFCF !important;}
 table .payment a{color: #333;cursor: pointer;}
 table .payment a:hover{color: #000;}
.title-gray, .table-striped > tbody > tr:nth-child(odd) > td.title-gray{ background-color: #4D5461 !important;color: #fff;font-size: 14px;}
.scroll_img {display: inline-block;height: 14px;width: 18px;background: url('../Images/toplink.png') center 3px no-repeat;cursor: pointer;}
#scroll_top.top .scroll_img {background: url('../Images/toplink.png') center -7px no-repeat;}
#scroll_top {height: 20px;width: 50pxpx;min-width: 50px;position: absolute;top: 0px;left: 0px;text-align: center;cursor: pointer;border: 1px solid #D0D0D0;border-left: 1px solid #E9E9E9;
    border-top: 1px solid #E6E6E6;z-index: 99999;background: #FFFFFF;}
.scroll_block {z-index: 99999;display: block;height: 20px;width: 50px;position: relative;font-size: 16px;font-weight: bold;margin: auto;cursor: pointer;}
 .appeal.Block td{background: #FFAEAE !important;}
 .appeal.User td{background: #FDEFDB !important;}
 .appeal.Statistic td{background: #DEF4F5 !important;}
 .appeal.System td{background: #e3e7f7 !important;}
 .appeal.ClientToRead td{background: #ffe29b !important;}
 .appeal.ClientToReadDone td{background: #f7d072 !important;}
 .appeal.FeedBack td{background: #FCD9D9 !important;}
 .appeal.Service td{background: #E1EFDD !important;}
 .clientMainTable .panel-body {padding-top: 7px;padding-bottom: 7px;}
 .clientMainTable .panel-body-large {padding-top: 16px;padding-bottom: 16px;}
 .clientTable tr.leg td{background: #f5efdf !important;}
 .clientTable tr.phys td{background: #e3e7f7 !important;}
 .clientTable td.date{width: 50px;}
 .clientTable a.clientName{ color: #000000;font-weight: 300;}
 .clientTable a.clientName:hover{ border-bottom: 1px dashed #949494;}
 .tableFullWidth{display: table !important;}
 /* Маркеры заявок на подлючение */
 .markerListPanel a{ color: #5D5D5D !important;}
 .markerListPanel .marker{ display: inline-block;width: 11px;height: 11px;margin-right: 5px;border: 1px solid #C7C7C7;}
/* Календарь, выбор месяца*/
#monthSelector {width: 482px !important;}
#monthSelector .mnt{    border: 1px solid #BDBDBD;    text-align: center;cursor: pointer;    width: 80px;
    display: inline-block;}
#monthSelector .mnt:hover{background: #DFF5B2  !important;}
#monthSelector .mnt.checked{ font-weight: bold; color: #286702;border: 1px solid #7B7B7B;}
#monthSelector .mnt.disabled {background: #D8D8D8 !important;cursor:not-allowed !important;}
#monthSelector .mnt.a{ background: #E4ECDC;}
#monthSelector .mnt.b{ background: #DFEAC7;}
#monthSelector .mnt.c{ background: #D2E6AA;}
#monthSelector .mnt.d{ background: #D7E2C0;}
 .FilterSubPanel.PhysicalClient, .FilterSubPanel.LegalClient {
	border: 1px solid #D2D2D2;
    padding: 12px;
    padding-right: 0px;
    margin: 10px;
    border-radius: 6px;
 }
 .switchStatusUpdater{    display: block;width: 100%;height: 20px; overflow: hidden;}
 .writeOffTable .uwf td{background: #FDEFDB !important;}
div.fix230{width: 230px !important;}
div.fix400{width: 400px !important;}
div.fix700{width: 700px !important;}
.clientTableFilter .idColumn {background: #FFF;padding: 4px;border-radius: 3px;}
.clientTableFilter .idColumn:hover {background: #E8E8E8;}
.clientTableFilter .cleanButton {
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #ECECEC;
    padding: 7px;
    color: #B7B7B7;
    display: block;
    width: 35px;
    position: absolute;
    cursor: pointer;
 }
.clientTableFilter .cleanButton:hover {color: #FF5252;}
 .clientTableFilter .addressFilterBlock input, .clientTableFilter .addressFilterBlock select{width: 172px;}
 .clientTableFilter .addressDetails{display: block; width: 50px;margin: 4px 0px 2px 3px;}
 .clientTableFilter .addressDetailsBlock{border-top: 1px dashed #B7B7B7;border-bottom: 1px dashed #B7B7B7;padding-top: 12px;padding-bottom: 22px;max-width: 372px;}
 .clientTableFilter .addressDetailsBlock.left{padding-bottom: 76px;}
.FilterSubPanel.PhysicalClient {}
 .FilterSubPanel.LegalClient  {}
 .clientTableFilter .filterBlockHeader {font-weight: 600; margin-left: 2px;}
 .clientTableFilter .filterBlockHeader.additional { cursor: pointer; }
 table tr.grayBack { background: #FBB7B7 !important; }
 .table-striped > tbody > tr.grayBack:nth-child(odd) > td, .table-striped > tbody > tr.grayBack:nth-child(odd) > th {
	  background: none;
 }
 .contactText{ cursor: pointer;font-weight: 600;color: #676767;padding: 5px 4px 1px 5px;border-radius: 3px;} 
 .contactText.ch{ background: #F1ED86;color: #000;}
 .contactText:hover{ cursor: pointer;font-weight: 600;color: #000;} 
 table tr.redBack td{ background: #FFDEDE !important; }
 table tr td.grayBack { background: #FF3F3F !important; }
 table tr td.redBack { background: #FFA097 !important; }
 table tr.leg td.zeroBack, table tr.phys td.zeroBack ,table tr td.zeroBack   { background: #CBF1EF !important;}
 .clientTable tr.phys td.online   { background: #AEE0AE !important;}
 table tr td.goldenBack { background: #FFFEEC !important;}
 .legend-mark-panel {margin-top: 19px; margin-bottom: 6px;}
 .legend-mark-panel table{margin-left: 4px;}
 .legend-mark { width: 25px;height: 25px; margin-left: 12px;margin-right: 12px;}

.Client.ServiceRequest textarea {width:600px; height:200px; resize: none;}
	.servicemen {padding:10px;}
	.servicemen .form-horizontal {margin: 10px 0px;}
	.servicemen .wrapper{ margin:auto; width:700px; overflow-x: scroll; overflow-y: hidden;}
	.ConnectionTable .wrapper{  width: auto!important; }
	.ConnectionTable .servicemen.panel { width: auto!important;display: block!important;float: none !important; }
	.servicemen table {text-align:center;}

	.servicemen tbody th,.servicemen thead th:first-child {color: #949494;font-size: 9px; width:20px;}
	.servicemen thead th {font-weight: bold;text-align: center;width:150px;}
	.servicemen thead td { height: 30px;}

	.servicemen td.time {cursor: pointer;}
	.servicemen td.time:hover {color: black!important;}
	.servicemen td.active {color: red!important;font-weight: bold;}
	.servicemen .hover {color: black;}
	.page-body .servicemen tbody .ServiceRequest {background: #0fbd71; color: white;border: 1px solid #f8f8f8;}
	.page-body .servicemen tbody .ConnectionRequest {background: #55ACE4; color: white;border: 1px solid #f8f8f8;}
	.page-body .servicemen tbody .description a {color: #2C2C2C;}
	.page-body .servicemen tbody .description a:hover {color: #454545;}
	.page-body .servicemen tbody .this{border: 2px dotted #004225;}
	.servicemen td.time {font-size:11px; text-align: center;}
	.servicemen .time.left { display: none;}
div.serviceManBlock {padding-bottom: 14px;border-top: 2px dashed #CECECE;}
div.serviceManBlock:last-of-type {padding-bottom: 0px;}
div.serviceManBlock:first-of-type{border-top: 0px;}
div.serviceManBlock .name { margin-left: 5px; }
div.serviceManBlock .time { font-weight: bold; }
div.serviceManBlock .loginAndPass {color: #A20000;}
div.serviceManBlock .item {
	border-top: 1px solid #C7C7C7;
	padding-top: 10px;
	margin-left: 4px;
	margin-right: 4px;
}
	div.serviceManBlock .item p{
	font-size: 12px;
    margin-bottom: 1px;
	}
div.doNotPrint .button-inlineBlock{display: inline-block;}
div.serviceManBlock .item .type {
	color: #6F6F6F;
	font-weight: normal;
	margin-left: 6px;
	font-style: italic;
}
	.page-body .servicemen  tbody  td.request {position: relative; vertical-align: top;}
	.servicemen .description { font-weight: bold;margin-bottom: 20px;}

	.maxWidth_150 {max-width: 150px !important;}
	.maxWidth_200 {max-width: 200px !important;}
	 .maxWidth_1wordWrap{ max-width: 100%; word-wrap: break-word;}
	.error .msg { color: red;}
	.IeWaterline{ border-bottom: 3px solid #00A651;width: 1024px;}
	.c-pointer {cursor: pointer;}
	.c-pointer.text{ display: inline;  font-weight: bold;}
	.c-pointer.white{ color: #ffffff;}
	.date-picker-box input{width: 150px;text-align: center;}
	@media print {a[href]:after {content: none !important;}

}