п»ї.ui-datepicker-trigger {
	background: url(../Images/calendar.gif) no-repeat;
	background-position: center center;
	width: 16px;
	height: 15px;
	border: none;
}

#LogBut {
	background: url(../Images/key.png) no-repeat 5px;
	padding-left: 25px;
}

a.button.ok, button.button.ok {
	background: #EEE url(../Images/tick.png) no-repeat;
	background-position: 5px 5px;
	padding-left:2em;
}

#wrapper_in a:link
{
	color: #4887ee;
}

#wrapper_in a:visited
{
	color: #5333B3;
}

#wrapper_in h1
{
	display: block;
	margin: 1em 0em;
	color: #a9bdcf;
}

#wrapper_in h1 span
{
	display: block;
	font-size: 0.5em;
	line-height: 0.6em;
}

#container .center
{
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
}

#wrapper_in
{
	margin: 0em 1.4em;
	color: #777;
	font-family: Arial, Tahoma;
}


#wrapper_in #wrapper_inner
{
	margin-top: 8em;
}

#wrapper_in #mainNav
{
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	list-style-type: none;
	list-style-position: outside;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
}

#wrapper_in #mainNav li
{
	padding: 1em 2.2em 1em 0em;
	font-size: 1.2em;
	float: left;
}

#wrapper_in #zakazform p
{
	padding: .5em 0;
	margin: .8em 0em;
	vertical-align: bottom;
}

#wrapper_in #zakazform p:hover
{
	background-color: #ffffef;
}

#wrapper_in #zakazform p#last:hover
{
	background-color: transparent;
}

#wrapper_in .example
{
	color: #444;
	font-size: .8em;
	clear: left;
}

#wrapper_in label.error
{
	background: url('../Images/error_button_small.png') no-repeat 5px 50%;
	font-size: .9em;
	color: red;
	display: block;
	border: none;
	line-height: inherit;
	float: none;
	width: auto;
	margin: 0;
	padding: 0 0 0 25px;
}

#wrapper_in .price
{
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 1em;
}

#wrapper_in dl dt
{
	font-size: 2em;
	margin-top: 2em;
}

#wrapper_in dl dd
{
	padding: 0;
	margin: 1.2em 3em;
}

#wrapper_in label
{
	line-height: 1.6em;
	float: left;
	width: 18em;
}

#wrapper_in input[type="button"]
{
	clear: both;
}

#wrapper_in input[type="text"]
{
	height: 1.2em;
}

/*autocomplete*/
#wrapper_in .ac_results {
	padding: 0px;
	border: 1px solid XWindowFrame;
	background-color: XWindow;
	overflow: hidden;
}

#wrapper_in  .ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

#wrapper_in  .ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

#wrapper_in  .ac_results li {
	position:relative;
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 1em;
	overflow: hidden;
}

#wrapper_in  .ac_loading {
	background : XWindow url('../Images/autocomplete_indicator.png') right center no-repeat;
}

#wrapper_in  .ac_over {
	background-color: Highlight;
	color: HighlightText;
}

#wrapper_in  .qnt {
	position:absolute;
	top:2px;
	right:10px;
	font-size:0.8em;
	color:#26A908;
}

#wrapper_in .adress-label
{
	width:auto;
	float:none;
	padding-left: 10px;
	padding-right: 15px;
}

#wrapper_in .adress-label-first
{
	width:auto;
	float:none;
	padding-right: 15px;
}

#wrapper #okdiv
{
	background: none repeat scroll 0 0 #EEEEEE;
	color: #4D7DA2;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 12px;
	padding-left: 3px;
	width:600px;
	height:300px;
	text-align:center;
}

#wrapper_in  .table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

#wrapper_in .table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

#wrapper_in .table th.first {
  width: 30px;
}

#wrapper_in .table th.last {
  width: 200px;
}

#wrapper_in .table .checkbox {
  margin-left: 10px;
}

#wrapper_in .table td {
  padding: 10px;
}

#wrapper_in .table td.last {
  text-align: right;
}

#wrapper_in div.input-group {
	float: left;
}