/* Основные элементы */
body {
  background: White url(../Images/Layouts/wrapper.png) repeat-x top;
  color: Black;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 0px;
}

h3, h4, p, input, label {
  margin: 0px;
  padding: 0px;
}

#menu ul, li
{
  margin: 0px;
  padding: 0px;
}

a {
  color: #4d7da2;
}

#mail_link:link {
	color: #0000d0; /* Цвет ссылок */
   }
#mail_link:visited {
	color: #900060; /* Цвет посещенных ссылок */
   }
#mail_link:active {
color: #f00; /* Цвет активной ссылки */
   }


.center {
  margin-left: 165px;
  margin-right: 165px;
}

.left {
  width: 155px;
  float: left;
}

.right {
  width: 155px;
  float: right;
}

/* Обёртка */
#wrapper {
  width: 975px;
  margin: 0px auto;
}

/* Логотип */
#logo {
  background: url(../Images/Layouts/logo.png) no-repeat top center;
  display: block;
  width: 151px;
  height: 42px;
  margin-left: 10px;
  margin-top: 20px;
}

/* Шапка */
#header {
  height: 95px;
  background: url(../Images/Layouts/header-banner.jpg) no-repeat center top;
}

/* Значки навигации */
#icons a {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 45px 10px 0px;
  text-decoration: none;
}

#icons a.home {
  background: url(../Images/Layouts/icon-home.png) no-repeat center;
}

#icons a.mail {
  background: url(../Images/Layouts/icon-mail.png) no-repeat center;
}

#icons a.search {
  background: url(../Images/Layouts/icon-search.png) no-repeat center;
}

#icons a.login {
  background: url(../Images/Layouts/login.png) no-repeat center;
}

/* Главное меню */
#menu {
  background: #4d7da2 url(../Images/Layouts/menu-bottom.png) repeat-x center bottom;
  width: 650px;
  position: absolute;
  top: -16px;
  left: 162px;
  padding-bottom: 15px;
}

#menu .top {
  background: #4d7da2 url(../Images/Layouts/menu-top.png) repeat-x center top;
  line-height: 10px;
}

#menu .middle {
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  height: 70px;
  padding: 0px 5px;
}

#menu li {
  list-style: none;
}

#menu ul.main {
  background: #4d7ea3 url(../Images/Layouts/menu-bg.png) no-repeat center top;
  width: 636px;
  height: 42px;
  margin-top: -5px;
}

#menu li.main {
  padding: 3px 13px;
  float: left;
  position: relative;
  text-align: center;
  background: url(../Images/Layouts/menu-line.png) no-repeat 1px 0px;
  z-index: 1;
}

#menu li.active {
  width: 70px;
}

#menu a.one-line {
  line-height: 28px; /* Если текст помещается на одной строке */
}

#menu a.menu-item {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}

#menu a.active {
  background: #D6D6D6 url(../Images/Layouts/active.png) no-repeat center left;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 97px;
  height: 40px;
  padding-top: 2px;
  z-index: 3;
  color: #4d7da2;
}

#menu ul.sub {
  background: #F5F5F5;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 34px;
  padding: 5px 10px;
  text-align: left;
  width: 614px;
}

*:first-child+html #menu ul.sub {
  height: 31px; /* Для ие7 */
}

#menu ul.sub a {
  text-decoration: underline;
}

#menu ul.sub a:hover {
  color: #DA6700;
}

/* Контейнер */
#container {
  background: #4d7da2 url(../Images/Layouts/container-top.png) no-repeat top center;
  padding: 10px 10px 0px;
  position: relative;
  margin-top: -18px;
}

#container .center {
  background: #FFFFFF;
  padding: 10px;
  margin-top: 77px;
  margin-bottom: -15px;
}

#container .center .big-banner {
  background: url(../Images/Layouts/big-banner.jpg) no-repeat top center;
  height: 332px;
}

#container-bottom {
  background: #4d7da2 url(../Images/Layouts/container-bottom.png) no-repeat bottom center;
  height: 10px;
  line-height: 10px;
}

#content
{
	min-height: 220px;
}

#content span.adres {
  color: #939393;
  font-size: 9px;
}

#content h2 {
  color: #4d7da2;
  font-size: 16px;
  font-weight: normal;
  background: #eeeeee;
  line-height: 20px;
  padding-left: 3px;
  margin: 0px 0px 12px;
}

#content p.date {
  color: #4d7da2;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 12px;
}

#content p {
  padding-bottom: 12px;
}

#content .text img {
  margin: 0px 0px 10px 10px;
  float: right;
}

#content tr.caption td {
  background: #4d7da2;
  color: #FFFFFF;
}

#content tr.caption td.left {
  background: #4d7da2 url(../Images/Layouts/td-left.png) no-repeat top left;
  /*width: 90%;*/
  float:none;
}

#content tr.caption td.right {
  background: #4d7da2 url(../Images/Layouts/td-right.png) no-repeat top right;
  /*width: 90%;*/
  float:none;
}

#content td {
  background: #eeeeee;
  padding: 10px;
}

#content h3 {
  color: #4d7da2;
  font-weight: normal;
  padding-bottom: 12px;
}

#content p.list {
  background: url(../Images/Layouts/p-list.png) no-repeat left 2px;
  padding-left: 10px;
}

/* Подвал */
#footer {
  background: #4e80a7 url(../Images/Layouts/footer.png) no-repeat top center;
  margin-top: 10px;
  font-size: 10px;
  color: #b9e5fe;
  height: 49px;
  position: relative;
}

#footer .left {
  text-align: right;
  padding-top: 10px;
}

#footer .right {
  text-align: left;
  padding-top: 10px;
}

#footer .center {
  font-size: 11px;
  padding-left: 30px;
  background: transparent;
}

#footer a {
  color: #edf9ff;
  font-size: 11px;
  text-decoration: none;
}

#footer li {
  display: block;
  float: left;
  padding: 10px 10px 0px;
  text-align: center;
  list-style: none;
  height: 40px;
}

#footer li.bottom-line {
  background: url(../Images/Layouts/footer-menu.png) no-repeat right center;
}

#footer ul {
  margin-left: 20px;
}

#footer .cable {
  background: url(../Images/Layouts/cable.png) no-repeat top center;
  width: 80px;
  height: 70px;
  position: absolute;
  right: -20px;
  bottom: 20px;
}

/* Телефон */
#phone {
  text-align: center;
  font-size: 26px;
  color: White;
  margin-bottom: 20px;
}

#phone small {
  font-size: 18px;
  color: #d6d6d6;
  background: url(../Images/Layouts/phone.png) no-repeat left 5px;
  padding-left: 20px;
}

/* Новости */
#news {
  background: url(../Images/Layouts/news.png) no-repeat 20px top;
  display:none; /* ВЫКЛЮЧАТЕЛЬ НОВОСТЕЙ */
}

#news .news-border {
  border: 2px dotted #cbcbcb;
  border-width: 2px 0px;
  padding: 10px 0px 20px;
}

#news .news-rss {
  background: url(../Images/Layouts/news-rss.png) no-repeat top center;
  height: 14px;
  width: 14px;
  display: block;
  margin-bottom: 5px;
}

#news small {
  color: #898989;
  font-size: 8px;
  background: Gainsboro url(../Images/Layouts/news-date.png) repeat-x top center;
  line-height: 10px;
  padding: 0px 7px;
}

#news .news-content {
  border-top: 2px ridge White;
  border-left: 2px ridge White;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 5px;
  background: White url(../Images/Layouts/news-content.png) no-repeat right bottom;
}

#news h4 {
  color: #da6700;
  font-size: 12px;
  font-weight: bold;
}

#news p {
  color: #707070;
  font-size: 11px;
}

#news .news-readmore {
  text-align: right;
}

#news a {
  font-size: 10px;
  text-decoration: underline;
}

#news .news-all {
  color: #d6d6d6;
  float: right;
  clear: both;
}

/* Контакты */
#contacts {
  color: White;
  font-size: 11px;
  border-left: #e0922f 1px solid;
  padding: 5px;
  margin-top: 10px;
}

#contacts h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 5px;
}

/* Голосование */
#poll {
  background: #F5F5F5 url(../Images/Layouts/poll.png) no-repeat bottom center;
}

#poll h3 {
  background: #5c9acc url(../Images/Layouts/poll-header.png) no-repeat top center;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  font-weight: normal;
}

#poll p {
  font-size: 11px;
  padding: 5px 10px;
}

#poll form {
  padding: 5px;
  margin: 0px;
}

#poll input.radio {
  margin-bottom: 3px;
}

*:first-child+html #poll input.radio {
  height: 12px; /* Для ие7 */
}

#poll label {
  color: #555555;
}

*:first-child+html #poll label {
  font-size: 11px; /* Для ие7 */
}

#poll input.button {
  background: #5c9acc url(../Images/Layouts/poll-button.png) no-repeat top center;
  font-size: 11px;
  margin: 5px 0px 0px -10px;
  border: none;
  text-transform: uppercase;
  padding: 3px 30px;
  line-height: 14px;
  height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 153px;
}

#poll span {
  color: #898989;
  display: block;
  padding-bottom: 5px;
  text-align: center;
}

/* Тест */
#test {
  background: url(../Images/Layouts/test.png) no-repeat top center;
  margin-top: 20px;
  padding-top: 40px;
  text-align: center;
}

#test p {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

#test a.test {
  color: #da6700;
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  background: #bbbaba url(../Images/Layouts/test-link.png) no-repeat top center;
  line-height: 18px;
  margin: 5px 0px;
}

#test small a {
  color: #cbcbcb;
  font-size: 10px;
  text-decoration: underline;
}

/* Кнопки */
.button-orange, .button-blue {
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: White;
  text-align: center;
  line-height: 37px;
  margin-top: 10px;
}

.button-orange {
  background: #ff7200 url(../Images/Layouts/button-orange.png) no-repeat top center;
  margin-bottom: 30px;
  margin-left: 10px;
	position: relative;
	z-index: 10;
}

.button-blue {
  background: #4d7ea3 url(../Images/Layouts/button-blue.png) no-repeat top center;
  margin-bottom: 20px;
  /*display:none;*/
  margin-right: 10px;
}

#exitLink {
	padding : 4px 10px 4px 10px;
	text-decoration: none;
	display: inline;
}

#content #exitLinkTd
{
	padding: 0px;
	padding-bottom: 15px;
}

/* Баннер в правой колонке */
#mini-banner a {
  background: url(../Images/Layouts/mini-banner.jpg) no-repeat center top;
  height: 122px;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

/* Баннер в правой колонке */
#banner-right a {
  background: url(../Images/Layouts/banner-right.jpg) no-repeat center top;
  height: 266px;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

/* Баннер в левой колонке */
#banner-left a {
  background: url(../Images/Layouts/banner-left.jpg) no-repeat center top;
  height: 266px;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

/* Баннеры на главной внизу */
.bottom-banner1 {
  background: url(../Images/Layouts/bottom-banner1.jpg) no-repeat left top;
  float: left;
  height: 124px;
  width: 290px;
  margin-left: 5px;
  display: block;
}

.bottom-banner2 {
  background: url(../Images/Layouts/bottom-banner2.jpg) no-repeat right top;
  float: right;
  height: 124px;
  width: 290px;
  margin-right: 5px;
  display: block;
}

/* Навигация */
.nav {
  margin: 0px 30px;
  height: 100px;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9px;
  color: #939393;
  display: block;
  padding-top: 69px;
  width: 25%;
  float: left;
  text-align: center;
}

.nav a.calc {
  background: url(../Images/Layouts/calc.png) no-repeat top center;
}

.nav a.ask {
  background: url(../Images/Layouts/ask.png) no-repeat top center;
}

.nav a.forum {
  background: url(../Images/Layouts/forum.png) no-repeat top center;
}

.nav a.video {
  background: url(../Images/Layouts/video.png) no-repeat top center;

}

/* Поиск */
#search {
  background: #FFFFFF url(../Images/Layouts/search.png) no-repeat top center;
  height: 17px;
  margin-top: 30px;
  display:none; /* ВЫКЛЮЧАТЕЛЬ ПОИСКА*/
}

#search input {
  line-height: 17px;
  height: 17px;
  border: none;
  background: transparent;
}

#search input.search {
  float: left;
  width: 130px;
  color: #939393;
  font-size: 11px;
  padding-left: 5px;
}

#search input.submit {
  float: right;
  width: 18px;
  cursor: pointer;
}

/* Линии */
.line-home-left {
  margin-right: -10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.line-home-right {
  margin-left: -10px;
  margin-top: 64px;
  margin-bottom: 0px;
}

*:first-child+html .line-home-right {
  margin-top: 84px; /* Для ие7 */
}

.line-left {
  margin-right: -10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.line-right {
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

br.noheight {
  height: 0px;
  line-height: 0px;
}

.appeal_main input
{
	margin-top: 5px;
}

.error_input
{
	background-color: #FFBCBC;
	border: 1px solid #C24949;
}

span .error
{
	color:Red;
}

#messageBox
{
	display:none;
	margin-bottom: 2em	;
}

.button
{
	background-color: #EEE;
	padding: 5px 10px 5px 7px;
	color: #222;
	display:block;
	margin:0 7px 0 0;
	border: 1px solid #BFBFBF;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}


button.button:hover
{
	background-color:#DEDEDE;
}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:5px;
background-repeat: no-repeat;
background-position: 10px center;
}

#content .info {
color: #00529B;
background-color: #E2F3FC;
	padding: 7px 7px 7px 7	px;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;

}
.warning {
color: #9F6000;
background-color: #FEEFB3;

}
.error {
color: #D8000C;
background-color: #FFBABA;
	margin-left: 5px;
}

.button
{
	line-height: 17px;
	padding: 5px 10px 5px 7px;
	overflow: visible;
	width: auto;
	background-color: #EEEEEE;
	border: 1px solid #BFBFBF;
	color: #222222;
	cursor: pointer;
	font-weight: bold;
	margin: 0 7px 0 0;
	text-decoration: none;
	border-style: solid;
}

#serviceTable td
{
	background: none;
}

#serviceTable tr label
{
	margin-right: 15px;
}

#serviceTable tr input
{
	width: 100px;
}

.servicePage p
{
	text-align:center;
	font-size:16px;
}

.ui-datepicker-trigger
{
	margin-left: 2px;
	padding-top: 2px;
	cursor: pointer;
}

#serviceTable #endDate
{
	/*margin-left: -70px;*/
}

#serviceTable #endDateLabel
{
	/*margin-left: -70px;*/
}

#PostponedButDeactive
{
	display: inline;
}

.serviceInternetBox
{
	padding-bottom: 15px;
}

.serviceForm {
	margin-left: 12px;
}

.bonus_link {
	font-size: 17px;
	text-decoration: none;
}

.description_bunos_link {
	color: #AAA;
	padding-left: 10px;
	line-height: 200%;
}

.big_input {
	width: 300px;
}

.fullWidth {
	width: 100%;
}

.headTable {
	border-spacing: 0px;
}