@using Inforoom2.Models
@using Inforoom2.Models.Services
@model dynamic
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Предупреждение";
	string ip = ViewBag.CurrentIp??"";
	
}
<div class="name-page">
	<h1 class="header-page" >Внимание!</h1>
</div>
<div class="block-page">
	<p>Доступ в интернет заблокирован.</p>
	<p>Для продолжения работы в интернете необходимо оплатить услуги.</p>
	<form method="post" action="@Url.Action("TryToDisableWarning", "Warning", new { @ip = ip })">
		<input type="submit" class="button warning" value="Продолжить">
	</form>
</div>