@using Inforoom2.Models
@using Inforoom2.Models.Services
@model dynamic
@section JavaScript{<script type="text/javascript" src="@Url.Content("~/Scripts/warningredirect.js?v=1")"></script>}
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Предупреждение";
	string ip = ViewBag.CurrentIp??"";
}
<div class="name-page">
	<h1 class="header-page" >Внимание!</h1>
</div>
<div class="block-page">
	<p>Вам необходимо оплатить услуги, в противном случае доступ в Интернет будет заблокирован.</p>
	<form method="post" action="@Url.Action("TryToDisableWarning", "Warning", new { @ip = ip })">
		<input type="submit" class="button warning" value="Продолжить">
	</form>
</div>