        #Name
        {
            width: 250px;
        }
        #Surname
        {
            width: 250px;
        }
        #Patronymic
        {
            width: 250px;
        }
        #City
        {
            width: 250px;
        }
        #AdressConnect
        {
            width: 300px;
        }
        #WhoGivePassport
        {
            width: 300px;
        }
         #RegistrationAdress
        {
            width: 300px;
        }
         #Login
        {
            width: 300px;
        }
         #Password
        {
            width: 300px;
        }
        #FIO
        {
            width: 300px;
        }
        #EMail
        {
            width: 300px;
        }
        #TelNum
        {
            width: 300px;
        }
         #Adress
        {
            width: 300px;
        }
        #WhenceAbout
        {
            width:250px;
        }
        #FullName
        {
            width:300px;
        }
        #ShortName
        {
            width:300px;
        }
                #LawyerAdress
        {
            width:400px;
        }
        #ActualAdress
        {
            width:400px;
        }

        