<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=testSQL.analit.net;Database=Internet;User ID=system;Password=newpass;Connect Timeout=300;pooling=true;convert zero datetime=yes;"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
