@using Inforoom2.Helpers
@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "Список пользователей";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<Client> clients = ViewBag.Clients;
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
			<tr role="row">
				<th class="sorting_asc" rowspan="1" colspan="1" style="width: 50px;" aria-label="">
						<div class="checkbox checkbox-replace neon-cb-replacement">
							<label class="cb-wrapper"><input type="checkbox" id="chk-1">
								<div class="checked"></div>
							</label>
						</div>
					</th>
				<th class="sorting" tabindex="0" aria-controls="table-2" >Имя</th>
				<th class="sorting" tabindex="0" aria-controls="table-2" >Действия</th>
			</tr>
		</thead>
			
		<tbody>
			@foreach (var client in clients) {
				<tr role="row" class="odd">
					<td class="sorting_1">
						<div class="checkbox checkbox-replace neon-cb-replacement">
							<label class="cb-wrapper"><input type="checkbox" id="chk-1"><div class="checked"></div></label>
						</div>
					</td>
					<td>@client.PhysicalClient.FullName</td>
					<td>
						<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("ServiceRequest","Client",new {clientId = client.Id})">
							<i class="entypo-plus-circled"></i>
							Сервисная заявка
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row">
		<div class="col-xs-6 col-left">
			<div class="dataTables_info" id="table-2_info" role="status" aria-live="polite">Showing 1 to 8 of 60 entries</div>
		</div>
		<div class="col-xs-6 col-right"><div class="dataTables_paginate paging_bootstrap" id="table-2_paginate">
											<ul class="pagination pagination-sm">
												<li class="prev disabled">
													<a href="#"><i class="entypo-left-open"></i></a>
												</li>
												<li class="active">
													<a href="#">1</a>
												</li>
												<li>
													<a href="#">2</a>
												</li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#"><i class="entypo-right-open"></i></a></li>
											</ul>
										</div></div>
	</div>
</div>
