<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=Internet;User ID=root;"/>
		<add name="integration" connectionString="Data Source=localhost;Port=3308;Database=Internet;User ID=root;"/>
	</connectionStrings>
	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="InternetInterfaceTest.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="NHibernateFileLog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
		</root>

		<logger name="NHibernate.SQL" additivity="false">
			<level value="DEBUG"/>
			<appender-ref ref="NHibernateFileLog"/>
		</logger>

	</log4net>
</configuration>