<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="Data Source=localhost;Database=Internet;User ID=root;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>

	<appSettings>
		<add key="SmtpServer" value="box.analit.net"/>
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="TestData"/>
			</smtp>
		</mailSettings>
	</system.net>

	<log4net>
	</log4net>
</configuration>
