@model dynamic

@{
	
}

    <div class="heading">ПРОИЗОШЛА ОШИБКА</div>
	    <div class="page">
	   
		    <div class="errorpage">
			    
			    <h1>К сожалению на странице произошла ошибка
				    Попробуйте <a href="/">вернуться на главную</a> или обратиться
				    в Инфорум по телефону 8 800 200-00-32.</h1>
			    @*<h1>Так же вы можете <a>написать нам письмо</a> или обратиться в <a>службу технической поддержки</a>.</h1>*@
		    </div>
	    </div>