@using Inforoom2.Models
@{
	ViewBag.UserRegion = ViewBag.UserRegion ?? new Region() { RegionOfficePhoneNumber = "8(473)22-999-87" };
}
<div class="heading">ПРОИЗОШЛА ОШИБКА</div>
<div class="page">
	<div class="errorpage">
		<h1>К сожалению на странице произошла ошибка
			Попробуйте <a href="/">вернуться на главную</a> или обратиться
			в Инфорум по телефону @ViewBag.UserRegion.RegionOfficePhoneNumber</h1>
	</div>
</div>