@model dynamic
<div class="heading">ПРОИЗОШЛА ОШИБКА</div>
  <div class="errorpng"></div>
	    <div class="none">
		<h1>К сожалению на странице произошла ошибка
				    Попробуйте <a href="/">вернуться на главную</a> или обратиться
				    в Инфорум по телефону 8 800 200-00-32.</h1>
	    </div>