@model dynamic

@{
	
}

    <div class="heading">ТАКОЙ СТРАНИЦЫ НЕ СУЩЕСТВУЕТ</div>
	    <div class="page">
	    <div class="errorpng"></div>
	    <div class="none">
		<h1>К сожалению этой страницы нет на сайте.
		    Попробуйте <a href="/">вернуться на главную</a> или обратиться
		    в Инфорум по телефону 8 800 200-00-32.</h1>
		@*<h1>Так же вы можете <a>написать нам письмо</a> или обратиться в <a>службу технической поддержки</a>.</h1>*@
	    </div>
	    </div>