@{
	ViewBag.Title = "Договор оферта";
}
<h2 class="heading">ДОКУМЕНТЫ</h2>
<div class="block">
    <div style="width: 875px;">
        <div class="thumbnail">
            <a href="~/Images/OfferMini/ДоговорОферта.pdf"><img src="~/images/OfferMini/ДоговорОферта1.png" /></a>
            <span><a href="~/Images/OfferMini/ДоговорОферта.pdf">Договор-оферта на оказание услуг связи</a></span>
        </div>
        <div class="thumbnail">
            <a href="~/Images/OfferMini/Приложение1_к_Договору-Оферте_на_оказание_услуг_связи.pdf"><img src="~/images/OfferMini/приложение1 к договору-оферте.png" /></a>
            <span><a href="~/Images/OfferMini/Приложение1_к_Договору-Оферте_на_оказание_услуг_связи.pdf">Приложение1 к Договору-Оферте</a></span>
        </div>
        <div class="thumbnail">
            <a href="~/Images/OfferMini/Дополнительное соглашение.pdf"><img src="~/images/OfferMini/доп.соглашение об аренде оборудования.png" /></a>
            <span><a href="~/Images/OfferMini/Дополнительное соглашение.pdf">Доп.соглашение об аренде оборудования</a></span>
        </div>
        <div class="thumbnail">
            <a href="~/Images/OfferMini/ПРАВИЛА_ПОЛЬЗОВАНИЯ_САЙТОМ.pdf"><img src="~/images/OfferMini/ПРАВИЛА ПОЛЬЗОВАНИЯ САЙТОМ.png" /></a>
            <span><a href="~/Images/OfferMini/ПРАВИЛА_ПОЛЬЗОВАНИЯ_САЙТОМ.pdf">Правила пользования сайтом</a></span>
        </div>
        <div class="thumbnail">
            <a href="~/Images/OfferMini/Приложение_Обработка_персональных_данных.pdf"><img src="~/images/OfferMini/Приложение Обработка персональных данных.png" /></a>
            <span><a href="~/Images/OfferMini/Приложение_Обработка_персональных_данных.pdf">Политика обработки персональных данных</a></span>
        </div>
        <div class="thumbnail">
            <a href="~/Images/OfferMini/Приложение_Условия_оказания_Услуг.pdf"><img src="~/images/OfferMini/Приложение Условия оказания Услуг.png" /></a>
            <span><a href="~/Images/OfferMini/Приложение_Условия_оказания_Услуг.pdf">Условия оказания услуг</a></span>
        </div>
    </div>
</div>