@{
	ViewBag.Title = "Договор оферта";
}
<h2 class="heading">ДОКУМЕНТЫ</h2>
<div class="block">
	<div class="thumbnail">
		<a href="~/Images/OfferMini/ДоговорОферта.pdf"><img src="~/images/OfferMini/ДоговорОферта1.png" /></a>
		<span><a href="~/Images/Offer/ДоговорОферта.pdf">Договор-оферта на оказание услуг связи</a></span>
	</div>
	<div class="thumbnail">
		<a href="~/Images/OfferMini/Приложение1 к Договору-Оферте.pdf"><img src="~/images/OfferMini/приложение1 к договору-оферте.png" /></a>
		<span><a href="~/Images/Offer/Приложение1 к Договору-Оферте.pdf">Приложение1 к Договору-Оферте</a></span>
	</div>
	<div class="thumbnail">
		<a href="~/Images/OfferMini/Дополнительное соглашение.pdf"><img src="~/images/OfferMini/доп.соглашение об аренде оборудования.png" /></a>
		<span><a href="~/Images/Offer/Дополнительное соглашение.pdf">Доп.соглашение об аренде оборудования</a></span>
	</div>
</div>