@using Inforoom2.Models
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/FaqController.js")"></script>}
@{
}
<h2 class="heading">ДОГОВОР ОФЕРТА</h2>
<div class="block">
	<div class="thumbnail">
		<a href="~/Images/Offer/ДоговорОферта.jpg"><img src="~/images/OfferMini/d1.jpg"/></a>
		<span><a href="~/Images/Offer/ДоговорОферта.jpg">Договор оферта стр1.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ДоговорОферта2.jpg"><img src="~/images/OfferMini/d2.jpg"/></a>
		<span><a href="~/Images/Offer/ДоговорОферта2.jpg">Договор оферта стр2.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ДоговорОферта3.jpg"><img src="~/images/OfferMini/d3.jpg"/></a>
		<span><a href="~/Images/Offer/ДоговорОферта3.jpg">Договор оферта стр3.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ДоговорОферта4.jpg"><img src="~/images/OfferMini/d4.jpg"/></a>
		<span><a href="~/Images/Offer/ДоговорОферта4.jpg">Договор оферта стр4.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ДоговорОферта5.jpg"><img src="~/images/OfferMini/d5.jpg"/></a>
		<span><a href="~/Images/Offer/ДоговорОферта5.jpg">Договор оферта стр5.</a></span>
	</div>
</div>

<h2 class="heading">ОПИСАНИЕ УСЛУГ</h2>
<div class="block">
	<div class="thumbnail">
		<a href="~/Images/Offer/ОписаниеУслуг.jpg"><img src="~/images/OfferMini/ou1.jpg"/></a>
		<span><a href="~/Images/Offer/ОписаниеУслуг.jpg">Описание услуг стр1.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ОписаниеУслуг2.jpg"><img src="~/images/OfferMini/ou2.jpg"/></a>
		<span><a href="~/Images/Offer/ОписаниеУслуг2.jpg">Описание услуг стр2.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ОписаниеУслуг3.jpg"><img src="~/images/OfferMini/ou3.jpg"/></a>
		<span><a href="~/Images/Offer/ОписаниеУслуг3.jpg">Описание услуг стр3.</a></span>
	</div>
</div>

<h2 class="heading">ПРАВИЛА ОКАЗАНИЯ УСЛУГ</h2>
<div class="block">
	<div class="thumbnail">
		<a href="~/Images/Offer/ПравилаОказанияУслуг.jpg"><img src="~/images/OfferMini/pou.jpg"/></a>
		<span><a href="~/Images/Offer/ПравилаОказанияУслуг.jpg">Правила оказания услуг стр1.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ПравилаОказанияУслуг2.jpg"><img src="~/images/OfferMini/pou2.jpg"/></a>
		<span><a href="~/Images/Offer/ПравилаОказанияУслуг2.jpg">Правила оказания стр2.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ПравилаОказанияУслуг3.jpg"><img src="~/images/OfferMini/pou3.jpg"/></a>
		<span><a href="~/Images/Offer/ПравилаОказанияУслуг3.jpg">Правила оказания стр3.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/Тарифы.jpg"><img src="~/images/OfferMini/t.jpg"/></a>
		<span><a href="~/Images/Offer/Тарифы.jpg">Тарифы</a></span>
	</div>
</div>

<h2 class="heading">Порядок расчетов</h2>
<div class="block">
	<div class="thumbnail">
		<a href="~/Images/Offer/ПорядокРасчетов.jpg"><img src="~/images/OfferMini/pr1.jpg"/></a>
		<span><a href="~/Images/Offer/ПорядокРасчетов.jpg">Порядок расчетов стр1.</a></span>
	</div>

	<div class="thumbnail">
		<a href="~/Images/Offer/ПорядокРасчетов.jpg"><img src="~/images/OfferMini/pr2.jpg"/></a>
		<span><a href="~/Images/Offer/ПорядокРасчетов.jpg">Порядок расчетов стр2.</a></span>
	</div>
</div>