<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="webPort" value="53759"/>
		<add key="webDirectory" value="../../../../InforoomInternet/"/>
		<add key="webDirectoryDev" value="../../../InforoomInternet/"/>
		<add key="clearInterval" value="60000" />
		<add key="connectIterationCount" value="100" />
	</appSettings>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=localhost;Database=usersettings;User ID=root;Password=;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>
	<log4net>

		<appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
			<to value="a.zolotarev@analit.net" />
			<from value="service@analit.net" />
			<subject value="[BILLING] Ошибка биллинга" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="0" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newline %m %n" />
			</layout>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="InternetInterface.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="ServiceEmail" />
		</root>

		<logger name="InternetInterface" additivity="false">
			<level value="WARN" />
			<appender-ref ref="LogFile"/>
		</logger>

		<logger name="NHibernate" additivity="false">
			<level value="ERROR" />
			<appender-ref ref="ServiceEmail" />
			
		</logger>

	</log4net>
	<NUnit>
		<TestRunner>
			<add key="ApartmentState" value="STA"/>
		</TestRunner>
	</NUnit>
</configuration>