<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
		<section name="brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		<add key="PrinterPath" value="U:\Apps\InternetInterface.Printer\InternetInterface.Printer.exe" />
		<add key="SmtpServer" value="box.analit.net"/>
		<add key="linksysLogin" value="ii"/>
		<add key="linksysPassword" value="Analit11"/>
		<add key="catalystLogin" value="ii"/>
		<add key="catalystPassword" value="analit"/>
		<add key="IvrnRoot" value="http://www.ivrn.net/Login/LoginPage" />
		<add key="OrderNotificationMail" value="ibilling@ivrn.net, billing@analit.net" />
		<add key="SpeedBoostPackageId" value="23" />
	</appSettings>

	<system.net>
		<mailSettings>
			<smtp>
				<network host="box.analit.net"/>
			</smtp>
		</mailSettings>
	</system.net>

	<log4net>
		<appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="[Internet] Ошибка в интернет интерфейсе" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="0" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newline %m %n" />
			</layout>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.IndexOutOfRangeException"/>
				<exceptionMessage value="Индекс находился вне границ массива"/>
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.ArgumentOutOfRangeException"/>
				<exceptionMessage value="Значение StartIndex не может быть меньше нуля"/>
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.Exception"/>
				<exceptionMessage value="Не могу авторизоваться"/>
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.ArgumentOutOfRangeException"/>
				<exceptionMessage value="Длина не может быть меньше нуля"/>
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.ArgumentOutOfRangeException"/>
				<exceptionMessage value="Индекс и показание счетчика должны указывать на позицию в строке"/>
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.Net.Sockets.SocketException"/>
				<exceptionMessage value="Подключение не установлено, т.к. конечный компьютер отверг запрос на подключение"/>
			</filter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Коммутатор"/>
				<exceptionType value="System.Net.Sockets.SocketException"/>
				<exceptionMessage value="Попытка установить соединение была безуспешной"/>
			</filter>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="U:\Logs\InternetInterface.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="MySqlAdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />
			<errorHandler type="Common.Tools.Log4NetErrorHandler"/>
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="Database=analit;Data Source=bdstat.analit.net;Port=3306;User Id=AFdev;Password=password;pooling=true;default command timeout=200;Connection Timeout=1;Allow user variables=true;convert zero datetime=yes;" />
			<commandText value="INSERT INTO analit.Logs (Date, Level, Logger, Host, User, Message, Exception, App) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception, 'InternetInterface')" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="WARN" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="ServiceEmail" />
			<appender-ref ref="MySqlAdoNetAppender" />
		</root>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>
	</log4net>

	<system.web>
		<authentication mode="Forms">
			<forms cookieless="AutoDetect" loginUrl="Login/LoginPartner" protection="All" requireSSL="false" timeout="400" />
		</authentication>
		<customErrors mode="RemoteOnly" defaultRedirect="Errors/NotFound.aspx" />
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
			<add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add path="Styles/*.*" verb="*" type="System.Web.StaticFileHandler" />
			<add path="Scripts/*.*" verb="*" type="System.Web.StaticFileHandler" />
			<add path="Images/*.*" verb="*" type="System.Web.StaticFileHandler" />
			<add path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</httpHandlers>
		<httpModules>
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework" />
			<add name="active-record" type="Common.Web.Ui.ActiveRecordExtentions.LogableScopeWebModule, Common.Web.Ui" />
		</httpModules>
		<httpRuntime
			requestValidationMode="2.0"
			maxUrlLength="1000"
			relaxedUrlToFileSystemMapping="true" />
	</system.web>

	<system.webServer>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		<defaultDocument>
			<files>
				<add value="/Login/LoginPartner.bail" />
			</files>
		</defaultDocument>
		<modules>
			<add name="active-record" type="Common.Web.Ui.ActiveRecordExtentions.LogableScopeWebModule, Common.Web.Ui" preCondition="managedHandler" />
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework" />
		</modules>
		<handlers>
			<clear />
			<add name="ASHX" path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory"/>
			<add name="CSS" path="*.css" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="GIF" path="*.gif" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="HTM" path="*.htm" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="JS" path="*.js" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="JPG" path="*.jpg" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="PNG" path="*.png" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="Assets" path="Assets/**/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="AssetsL1" path="Assets/*/*/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="AssetsL2" path="Assets/*/*/*/*.*" verb="*" type="System.Web.StaticFileHandler"/>

			<add name="Rails" verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
			<add name="Aspx" verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add name="Route" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />

		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>

	<connectionStrings>
		<add name="local" connectionString="Data Source=bd.sql.adc.analit.net;Database=usersettings;User ID=IInternet;Password=FghbjhBsql2;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;" />
	</connectionStrings>

	<brail>
		<import namespace="Boo.Lang.Builtins" />
		<import namespace="System.Web" />
		<import namespace="InternetInterface" />
	</brail>
</configuration>
