@using Inforoom2.Models

@{
	ViewBag.Title = "Index";
	string ticketTitle = string.Format("Tickets " + "(" + ViewBag.TicketsAmount + ")");
}

<h2>Панель администратора</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		@Html.ActionLink("Questions", "AdminQuestionIndex", "AdminQuestion", null, new { @class = "navbar-brand" })
		@Html.ActionLink(ticketTitle, "AdminTicketIndex", "AdminTicket", null, new { @class = "navbar-brand" })
		@Html.ActionLink("News", "AdminNewsIndex", "AdminNews", null, new { @class = "navbar-brand" })
	</div>
</div>