@using Inforoom2.Models

@{
	ViewBag.Title = "Index";
	IList<Employee> users = ViewBag.Users;
	Employee client = new Employee();
}

<h2>Панель администратора</h2>

<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				@Html.ActionLink("Questions", "AdminQuestionIndex", "AdminQuestion", null, new {@class = "navbar-brand"})
				
			
			</div>