<div class="panel panel-blue">
	<div class="panel-heading">
		<h3 class="panel-title">Точка подключения № <%=point.pointId%></h3>
	</div>
	<table class="table hiddenOverflow table-bordered table-striped datatable dataTable no-footer clientTable tableFullWidth">
		<tbody>
			<tr>
				<td class="portInfoClient width-176">Клиент:</td>
				<td>
					<% if(point.clientType != 'False'){ %>
					<a target="_blank" href="<%=url.InfoPhysical%>/<%=point.clientId%>"><%=point.clientName%> (<%=point.clientId%>)</a>
					<% }else{ %>
					<a target="_blank" class="linkLegal" href="<%=url.InfoLegal%>/<%=point.clientId%>"><%=point.clientName%></a>
					<% } %>
				</td>
			</tr>
			<tr>
				<td class="">Коммутатор:</td>
				<td>
					<a target="_blank" href="<%=url.EditSwitch%>/<%=point.clientSwitchId%>"><%=point.clientSwitchName%> (<%=point.clientSwitchIp%>)</a>
				</td>
			</tr>
			<tr>
				<td>Порт:</td>
				<td>
					<b><%=point.clientPort%></b>
				</td>
			</tr>
		<% if(lease == undefined || lease == null){ %>
		<tr>
			<td></td>
			<td>
				<span class="red">
						Сессия DHCP не зарегистрирована
					</span>
			</td>
		</tr>
		<tr>
			<td>Отправлено запросов:</td>
			<td>
				<b><%=attempts%></b>
			</td>
		</tr>
		<% } %>
			<tr>
				<td>Адреса:</td>
				<td>
					<table class="table table-bordered table-striped tableFullWidth ClientEndPointStateBaseInfo">
						<thead>
							<tr>
								<th>MAC на порту</th>
								<th>IP на порту</th>
								<th>МАС по аренде, <br/> Начало аренды</th>
								<th>IP по аренде, <br/> Конец аренды</th>
							</tr>
						</thead>
						<tbody>
						<% for ( var i = 0; i < AddressList.length; i++ ) { %>
						<tr>
							<td>
								<span class="<%=(AddressList[i].Item3 == undefined || AddressList[i].Item3 == null || AddressList[i].Item3 == ''?'bold red':'') %>">
									<%=AddressList[i].Item1%>
								</span>
							</td>
							<td>
								<span class="<%=(AddressList[i].Item4 == undefined || AddressList[i].Item4 == null || AddressList[i].Item4 == ''?'bold red':'') %>">
									<%=AddressList[i].Item2%>
								</span></td>
							<td>
								<p class="rent <%=(AddressList[i].Item1 == undefined || AddressList[i].Item1 == null || AddressList[i].Item1 == ''?'bold red':'') %>">
									<%=AddressList[i].Item3%>
								</p>
								<p class="time bold">
									<%=AddressList[i].Item5%>
								</p>
							</td>
							<td>
								<p class="rent <%=(AddressList[i].Item2 == undefined || AddressList[i].Item2 == null || AddressList[i].Item2 == ''?'bold red':'') %>">
									<%=AddressList[i].Item4%>
								</p>
								<p class="time bold">
									<%=AddressList[i].Item6%>
								</p>
							</td>
						</tr>
						<% } %>
						</tbody>
					</table>
				</td>
			</tr> 
		
		</tbody>
	</table>
</div>