@using Inforoom2.Models
@using Inforoom2.Models.Services
@model dynamic

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Предупреждение";
	Client client = ViewBag.Client;
	BlockAccountService service = ViewBag.BlockAccountService;
}
<div class="name-page">
 
</div>