@using Inforoom2.Models
@using Inforoom2.Models.Services
@model dynamic
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Предупреждение";
	Client client = ViewBag.Client;
	BlockAccountService service = ViewBag.BlockAccountService;
}
<div class="name-page">
	<h1 class="header-page" >Внимание!</h1>
</div>
<div class="block-page">
	<p class="info">Номер лицевого счета: @client.Id</p>
	<p>Услуга "Добровольная блокировка" активирована до @client.ClientServices.FirstOrDefault(c => c.Service.Unproxy().GetType() == typeof(BlockAccountService)).EndDate</p>
	@using (@Html.BeginForm("DeactivateAccountBlocking", "Service", null, FormMethod.Post))
	{
	@Html.HiddenFor(modelItem => service.Id)
	<input class="button unfreeze" type="submit" value="Отключить" />
	}
</div>