@using Inforoom2.Models
@using Inforoom2.Models.Services
@model dynamic
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Предупреждение";
	Client client = ViewBag.Client;
}
<div class="name-page">
	<h1 class="header-page" >Внимание!</h1>
</div>
<div class="block-page">
<p class="info">Номер лицевого счета для оплаты: @client.Id</p>
	<p class="error">
		Ваш лицевой счет заблокирован за неуплату, для разблокировки необходимо внести @client.GetUnlockPrice().ToString("F2") руб.<br>
		Для возобновления доступа в интернет Вам необходимо внести абонентскую плату за полный месяц.<br>
	</p>
	<form method="post" action="@Url.Action("TryToDisableWarning","Warning")">
		<input name="referer" type="hidden" value="!{referer}">
		<input type="submit" class="button warning" value="Продолжить">
	</form>
</div>