@using Inforoom2.Models
@using Inforoom2.Models.Services
@model dynamic
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Предупреждение";
	Client client = ViewBag.CurrentClient;
	string ip = ViewBag.IpForTests ?? String.Empty;
}
<div class="name-page">
	<h1 class="header-page" >Внимание!</h1>
</div>
<div class="block-page">
	<p class="info">Номер лицевого счета для оплаты: @client.Id</p>
	<p class="error">
		Доступ в интернет заблокирован из-за проведения работ по сервисной заявке, на время работ тарификация остановлена.
		Если работы завершены нажмите кнопку "Продолжить".
		После нажатия кнопки "Продолжить" тарификация будет возобновлена.
	</p>
	@if (string.IsNullOrEmpty(ip)) {
		<form method="post" action="@Url.Action("TryToDisableWarning", "Warning")">
			<input type="submit" class="button warning repairCompleted" value="Продолжить">
		</form>
	}
	else {
		<form method="post" action="@Url.Action("TryToDisableWarning", "Warning", new { @ip = ip })">
			<input type="submit" class="button warning repairCompleted" value="Продолжить">
		</form>
	}
</div>