@using Inforoom2.Models
@using NPOI.SS.Formula.Functions
@model dynamic

@{
	ViewBag.Title = "Список подключенных домов";
	List<SwitchAddress> addresses = ViewBag.Addresses;
}

<h2 class="heading">@ViewBag.Title</h2>
<div class="paddedBlock paragraph">
	<h3 class="font-header">Подключенные дома в Борисоглебске</h3>
	<pre>
40 лет Октября: 74, 96
Аэродромная: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29
Бланская: 51
Гоголевская: 16б
Дзержинского: 1, 1а
Дорожная: 54
Дубровинская: 48
Карла Маркса: 137
Ленинская: 82, 90, 96
Матросовская: 33
мкр Северный: 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 26, 27, 27а, 28, 29, 30, 31, 32, 32а, 33, 34, 
35, 35а, 36, 36а, 37, 38, 39, 40, 41, 43, 45, 46, 47 (2, 3, 4 подъезды), 48, 49, 50
мкр Юго-Восточный: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25(общежитие ПТУ №34)
пер Заводской: 1б
Первомайская: 75, 77, 79, 81, 83
Победы: 2, 3
пр Поворинский: 4
Пролетарская: 2а, 2б
Советская: 84, 84а, 123
Терешковой: 16Б, 20А, 22А
Чкалова: 1, 3, 4, 8, 26, 28а, 30, 40
	</pre>
	<h3 class="font-header">Подключенные дома в Белгороде</h3>
	<pre>
5 Августа 1 , 1К , 2 , 6 , 13а , 13б , 13в , 17 , 20 , 22 , 27 , 29а , 29б , 30а , 33 , 34 , 35 ,<br /><span style="display:block; float:left; width:68px; height:1px">
</span> 36/1 , 36/2 , 36/3 , 37, 38 , 40 , 42 , 44
50-летия Белг. Обл 10
Белгородский проспект 49А , 50 , 48 , 71
Белгородского полка 22А , 23 , 24 , 25 , 27 , 34 , 44 , 50 , 49А , 65 ,67
Богд. Хмельницкого 34 , 36 , 38 , 40 , 71 , 71А , 73 , 77 , 79 , 127
Ватутина 4 , 6
Вокзальная 19а
Восточная 5
Горького 2А , 2Б , 2В , 2Г , 2Е , 2Д ,52 , 52 Б, 69
Гостенская 1 , 2 , 2А , 2 Б , 3 , 4 , 5 , 7 , 10 , 12
Дегтярева 2 , 2а , 14
Железнодорожная 119 , 121 , 123 , 125 , 129 , 129а , 133
Комсомольская 45
Костюкова 8 п , 12 , 22 , 24 , 26 , 32 , 36 Б , 36 В , 36 Г
Левобережная 10 , 12 , 14 , 18 , 20 , 22 , 24, 24а
Лермонтова 15 А , 11 А , 9 А
Народный 32 , 34 , 36 , 36а, 43 , 48 , 52 , 52А , 57 , 77 , 87 , 89 , 91 , 104 , 105 , 107 , 109
Октябрьская 57А , 63 , 76
Первомайская 11 , 13 , 15
Плеханова 8 А , 10 А
Победы 30 , 47, 49 , 69 , 69а , 71 , 73 , 81 , 83 , 104 , 118, 124, 148 , 165
пр Гражданский 19а, 21 , 23 , 25А , 32 , 33 , 59А
пр Славы 6 , 9 г , 18 , 45А , 61 , 65 , 67а , 67 , 76/9 , 82 , 90 , 100 , 123 , 125 , 129 , 131 , 148 ,<br /><span style="display:block; float:left; width:60px; height:1px">
</span> 148а , 150 , 38 , 40 , 35 , 44А
Преображенская 5, 11 , 44 , 45 , 69 , 69б, 71 , 78а , 82 , 84 , 85 , 89 , 106 , 110 А , 120 , 132 ,<br /><span style="display:block; float:left; width:108px; height:1px">
</span> 161 , 163 , 176
Пугачева 5
Пушкина 12 , 26 , 55 , 67
Свято-троицкий 17 , 21 , 25
Советская 1 А , 3 А , 5 А , 37 , 49 , 55 , 53
Трубецкого 38, 39а , 40 , 52 , 57
Чапаева 1 , 9 , 11 , 13 , 24 , 28 , 30 , 32
Чумичева 20 , 44 , 48 , 50 , 60 , 62 , 64
Щорса 8 , 10
</pre>
</div>