@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "Реквизиты компании";
}
<h2 class="heading">@(ViewBag.Title.ToString().ToUpper())</h2>
<table class="historytb">
	<tbody>
		<tr class="menucost">
			<td class="menyhistory">ООО «ИНФОРУМ»</td>
			<td class="menyhistory"></td>
			<td class="menyhistory"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Телефон:</td>
			<td class="fee">8-473-22-999-87</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Юридический адрес:</td>
			<td class="fee">394036, г.Воронеж, ул.Студенческая, д.12а</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">ОГРН:</td>
			<td class="fee">1083668017146</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">ИНН:</td>
			<td class="fee">3666152146</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">КПП:</td>
			<td class="fee">366601001</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Код по ОКПО:</td>
			<td class="fee">85976369</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Код по ОКВЭД:</td>
			<td class="fee">64.2</td>
			<td class="price tr"></td>
		</tr>
	</tbody>
</table>
<table class="historytb">
	<tbody>
		<tr class="menucost">
			<td class="menyhistory">ПЛАТЕЖНЫЕ РЕКВИЗИТЫ</td>
			<td class="menyhistory"></td>
			<td class="menyhistory"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Расчетный счет:</td>
			<td class="fee">40702810602000758601</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Полное наименование банка:</td>
			<td class="fee">Ярославский филиал ОАО «Промсвязьбанк»,  г.Ярославль</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Корреспондентский счет:</td>
			<td class="fee">30101810300000000760</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">БИК:</td>
			<td class="fee">047888760</td>
			<td class="price tr"></td>
		</tr>
		<tr class="menufee">
			<td class="fistorytb">Директор:</td>
			<td class="fee">Епихин Михаил Константинович (действует на основании Устава)</td>
			<td class="price tr"></td>
		</tr>
	</tbody>
</table>