@section JavaScript{<script type="text/javascript" src="@Url.Content("~/Scripts/AboutIndex.js")"></script>}

@{
	ViewBag.Title = "Мы - ООО \"Инфорум\"";
}

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<h2 class="heading">@(ViewBag.Title.ToString().ToUpper())</h2>
<div class="whiteblock">
	<div id="yandexMap" class="map left-move"></div>
	<div class="whiteblocktext">
		<p>Интернет-провайдер "Инфорум" — это передовые технологии, конкурентно-способные цены, четкое и быстрое выполнение заказов,
			 а также качественный и высокопрофессиональный уровень поддержки и сервисного обслуживания своих клиентов.</p>
		<p>Наша компания достаточно опытна и стабильна, чтобы обеспечивать высокое качество услуг,
			 внедрять современные технические решения, использовать надежное оборудование и своевременно его модернизировать.
			 Мы уделяем максимум внимания обслуживанию каждого клиента — будь то крупная компания или домашний абонент.
			 Каждый клиент важен для нас и может рассчитывать на квалифицированный сервис и внимательное отношение к своим запросам.</p>
		<p>Наша задача — донести до людей лучшее из мира новых технологий, предоставить честный и качественный сервис.
			 Созидая, мы делаем наше общество лучше!</p>
	</div>
</div>
