@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	ViewBag.Title = "Мы - ООО \"Инфорум\"";
	CallMeBackTicket ticket = ViewBag.NewTicket;
	ValidationRunner validationRunner = ViewBag.Validation;
}
		<h2 class="heading">@(ViewBag.Title.ToString().ToUpper())</h2>
		<div class="whiteblock">
		<div class="boy"></div>
		<div class="whiteblocktext">
		<p>Чем мы занимаемся? - Предоставляем высокоскоростной доступ в Интернет по волоконно-оптическому каналу.
Кто нам нужен? - Много талантливых программистов и людей, готовых учиться разработке программных продуктов. Если Вы умный, амбициозный и энергичный человек, способный решать поставленные задачи и добиваться качественного результата, пишите нам. Программируете на Python, C++, Java... любом языке, но есть желание делать это на C# - Wellcome, присылайте нам свои резюме.
Мы строим приложения с помощью C#(.net) и MySql(Sql) + ORM, большая их часть завязана на WEB (Asp .Net, MVC), поэтому html, css, javascript тоже играют важную роль.
Что мы предлагаем? - Адекватные деньги, которые будут расти вместе с вашим вкладом в общее дело, интересные задачи, возможность совмещать работу и учебу, уютный офис в центре города, чай, кофе, теннисный стол
Что нужно что бы у нас работать? – Отправить резюме на resume@analit.net, сделать тестовое задание и по результатам выполнения – пройти собеседование.</p>
		<p>Что нужно что бы у нас работать? – Отправить резюме на resume@analit.net, сделать тестовое задание и по результатам выполнения – пройти собеседование.</p>
		</div>
	    </div>