@{
	ViewBag.Title = "Оплата услуг";
	var userAccount = ViewBag.UserAccount;
	var paymentSum = ViewBag.PaymentSum;
}
<h2 class="heading" style="padding-top: 33px;">
	@(ViewBag.Title.ToString().ToUpper())
</h2>
<div class="font" style="margin: auto;width: 92%;">
	<p>
		Оплата возможна любым способом через терминалы и отделения Сбербанка России без комиссии.
		Так же можно оплатить наличными через терминалы Comepay и в офисе компании по адресам:
	</p>
	<p> г. Борисоглебск, ул. Третьяковская, д. 6б (вход со двора) в будние дни с 9-00 до 18-00. </p>
	<p> г. Белгород, ул. Князя Трубецкого (Воровского), д. 26 за бизнес центром “Монблан” в будние дни с 9-00 до 18-00. </p>
	<br/>
	<p style="margin-top: 34px;">
		<a class="button sber" href="https://autopays.ru/payment/#!search_provider/pt_search/100-2962-1/pay@(userAccount != "" ? "&amount=" + paymentSum : "")
		   @(userAccount != "" ? "&ЛИЦЕВОЙ_СЧЕТ=" + userAccount : "") "><span>Оплата VISA / MasterCard</span></a>
	</p>
</div>







