@{
	ViewBag.Title = "Оплата услуг";
}
		<h2 class="heading">@(ViewBag.Title.ToString().ToUpper())</h2>
	<div class="font" style="margin:20px">
		<p>Оплата возможна любым способом через терминалы и отделения Сбербанка России без комиссии.
Так же можно оплатить наличными через терминалы QIWI,  Comepay и в офисе компании по адресу: г. Борисоглебск, ул. Третьяковская, д. 6б (вход со двора) в будние дни с 9-00 до 18-00. </p>
	</div>
