@using Inforoom2.Helpers
@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IList<Client> clients = ViewBag.Clients;
}

@{ Html.RenderPartial("AdminPanel"); }

<div class="Impersonation">
	<table>
		<tr>
			<td>
				<div>Id</div>
			</td>
			<td>
				<div>Имя</div>
			</td>
			<td>
				<div>Действие</div>
			</td>
			
		</tr>
		@foreach (var client in clients) {
			<tr>
				<td>
					
					@Html.DisplayFor(modelItem => client.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => client.PhysicalClient.FullName)
				</td>
				<td>
					@using (Html.BeginForm("ApplyImpersonation", "AdminAccount", FormMethod.Post)) {
						@Html.HiddenFor(modelItem => client.Id)
						<input class="" type="submit" value="Войти"/>
					}
				</td>
			</tr>
		}
	</table>
</div>