<div class="cabinet">
	<ul>
		@{
			var menu = new List<string[]>();
			menu.Add(new[] { "Профиль", "Profile", "Personal" });
			menu.Add(new[] { "История баланса", "Payment", "Personal" });
			menu.Add(new[] { "Тарифы", "Tariffs", "Personal" });
			menu.Add(new[] { "Услуги", "Service", "Personal" });
			menu.Add(new[] { "Уведомления", "Notifications", "Personal" });
			menu.Add(new[] { "Бонусные программы", "Bonus", "Personal" });
			foreach (var item in menu) {
				<li>@Html.ActionLink(item[0], item[1], item[2], null, new { @class = ViewBag.ControllerName == item[2] && ViewBag.ActionName == item[1] ? "active" : "" }) </li>
			}
		}
	</ul>
</div>
