<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
	<section name="brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail"/>
	</configSections>
	<appSettings>
		<add key="clearInterval" value="600000" />
		<add key="connectIterationCount" value="100" />
	</appSettings>
	<connectionStrings>
		<add name="local" connectionString="Data Source=sql.analit.net;Database=internet;User ID=IVrn;Password=samepass;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>

	<log4net>

		<appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в IVrn" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="0" />
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newlineLogger: %logger %newline %m %n - %message"/>
			</layout>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="u:\Logs\IVrn.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="MySqlAdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="100" />
			<errorHandler type="Common.Tools.Log4NetErrorHandler"/>
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="Database=analit;Data Source=bdstat.analit.net;Port=3306;User Id=AFdev;Password=password;pooling=true;default command timeout=200;Connection Timeout=1;Allow user variables=true;convert zero datetime=yes;" />
			<commandText value="INSERT INTO analit.InterfacesLogs (Date, Level, Logger, Host, User, Message, Exception) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception)" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="WARN" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="ServiceEmail" />
		</root>

		<logger name="InforoomInternet.Models.SceHelper">
			<level value="DEBUG" />
		</logger>

		<logger name="InforoomInternet" additivity="false">
			<level value="WARN" />
			<appender-ref ref="MySqlAdoNetAppender" />
		</logger>

		<logger name="Common.Tools.Log4NetErrorHandler" additivity="false">
			<level value="WARN" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="ServiceEmail" />
		</logger>

		<logger name="Castle.MonoRail.Framework.Services.AbstractControllerFactory" additivity="false">
			<level value="OFF" />
			<appender-ref ref="LogFile" />
		</logger>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>

	</log4net>

	<system.web>
		<authentication mode="Forms">
			<forms cookieless="AutoDetect" loginUrl="Login/LoginPage?Partner=true" protection="All" requireSSL="false" timeout="400" />
		</authentication>
		<httpHandlers>
			<clear/>
			<add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory"/>
			<add path="*.css" verb="*" type="System.Web.StaticFileHandler"/>
			<add path="*.gif" verb="*" type="System.Web.StaticFileHandler"/>
			<add path="*.htm" verb="*" type="System.Web.StaticFileHandler" />
			<add path="*.js" verb="*" type="System.Web.StaticFileHandler" />

			<add path="Content/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add path="Content/*/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add path="JavaScript/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add path="JavaScript/*/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
		</httpHandlers>
		<siteMap>
			<providers>
				<add name="SiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap"/>
			</providers>
		</siteMap>
		<httpModules>
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework"/>
			<add name="active-record" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages>
			<namespaces>
				<add namespace="System.Data"/>
				<add namespace="System.Drawing"/>
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpRuntime  requestValidationMode="2.0" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<modules>
			<add name="active-record" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web" preCondition="managedHandler" />
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework" />
		</modules>
		<handlers>
			<clear />
			<add name="ASHX" path="*.ashx" verb="*" type="System.Web.UI.SimpleHandlerFactory"/>
			<add name="CSS" path="*.css" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="GIF" path="*.gif" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="HTM" path="*.htm" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="JS" path="*.js" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="JPG" path="*.jpg" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="PNG" path="*.png" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="ICO" path="*.ico" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="TXT" path="*.txt" verb="*" type="System.Web.StaticFileHandler"/>

			<add name="Images" path="Content/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="Images_2" path="Content/*/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="Script" path="JavaScript/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="Script_2" path="JavaScript/*/*.*" verb="*" type="System.Web.StaticFileHandler"/>
			<add name="Route1" verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
			<add name="Route2" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
		</handlers>
	</system.webServer>
	<brail>
		<import namespace="Boo.Lang.Builtins"/>
		<import namespace="System.Web"/>
	</brail>
</configuration>
