<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
		<section name="brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail"/>
	</configSections>

	<appSettings>
		<add key="clearInterval" value="600000" />
		<add key="connectIterationCount" value="100" />
	</appSettings>

	<connectionStrings>
		<add name="local" connectionString="Data Source=sql2.analit.net;Database=internet;User ID=IVrn;Password=samepass;Connect Timeout=300;pooling=true;convert zero datetime=yes;Default command timeout=300;Allow User Variables=true;"/>
	</connectionStrings>

	<log4net>
		<appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="[Internet] Ошибка в IVrn" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="0" />
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newlineLogger: %logger %newline %m %n - %message"/>
			</layout>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="u:\Logs\IVrn.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="MySqlAdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="100" />
			<errorHandler type="Common.Tools.Log4NetErrorHandler"/>
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
			<connectionString value="Database=analit;Data Source=bdstat.analit.net;Port=3306;User Id=AFdev;Password=password;pooling=true;default command timeout=200;Connection Timeout=1;Allow user variables=true;convert zero datetime=yes;" />
			<commandText value="INSERT INTO analit.InterfacesLogs (Date, Level, Logger, Host, User, Message, Exception) VALUES (?Date, ?Level, ?Logger, ?Host, ?User, ?Message, ?Exception)" />
			<reconnectonerror value="true" />
			<usetransactions value="false" />
			<threshold value="WARN" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<parameter>
				<parameterName value="?Date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="?Level" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Logger" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Host" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?User" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Message" />
				<dbType value="String" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="?Exception" />
				<dbType value="String" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<filter type="Common.Tools.DenyLogEventFilter, Common.Tools">
				<stringToMatch value="Обнаружено потенциально опасное значение Request.Path, полученное от клиента"/>
				<exceptionType value=""/>
				<exceptionMessage value=""/>
			</filter>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="ServiceEmail" />
		</root>

		<logger name="InforoomInternet.Models.SceHelper">
			<level value="DEBUG" />
			<appender-ref ref="LogFile" />
		</logger>

		<logger name="InforoomInternet" additivity="false">
			<level value="WARN" />
			<appender-ref ref="MySqlAdoNetAppender" />
		</logger>

		<logger name="Common.Tools.Log4NetErrorHandler" additivity="false">
			<level value="WARN" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="ServiceEmail" />
		</logger>

		<logger name="Castle.MonoRail.Framework.Services.AbstractControllerFactory" additivity="false">
			<level value="OFF" />
			<appender-ref ref="LogFile" />
		</logger>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>

	</log4net>

	<system.net>
		<mailSettings>
			<smtp>
				<network host="box.analit.net" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<authentication mode="Forms">
			<forms cookieless="AutoDetect" loginUrl="Login/LoginPage?Partner=true" protection="All" requireSSL="false" timeout="400" />
		</authentication>
		<httpModules>
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework"/>
			<add name="active-record" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web"/>
		</httpModules>
		<compilation debug="false" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<httpRuntime requestValidationMode="2.0" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<modules>
			<add name="active-record" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord.Web" preCondition="managedHandler" />
			<add name="routing" type="Castle.MonoRail.Framework.Routing.RoutingModuleEx, Castle.MonoRail.Framework" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>

	<brail>
		<import namespace="Boo.Lang.Builtins"/>
		<import namespace="System.Web"/>
	</brail>
</configuration>
