@model dynamic
@{
	ViewBag.Title = "Личный кабинет: Бонусные программы";
}

<h2 class="heading">@ViewBag.Title</h2>
@{ Html.RenderPartial("Menu");  }
<div class="font right-block">
	<h2>Скидка постоянного клиента</h2>
	<p class="paragraph">
		Участникам программы (физическим лицам) предоставляется скидка от 3% до 15% в зависимости от количества месяцев беспрерывной работы в сети.
		Первая скидка предоставляется через 3 месяца непрерывной работы в сети и составляет 3% от суммы абонентской платы. Минимальная скидка - 3%, максимальная - 15%, увеличение скидки (при условии непрерывной работы) происходит по 1% в месяц.
	</p>
</div>