@model dynamic
@{
	ViewBag.Title = "Личный кабинет: Бонусные программы";
}

<h2 class="heading">@ViewBag.Title</h2>
@{ Html.RenderPartial("Menu");  }
<div class="font right-block">
	<h2>Подключи друга</h2>
	<p class="paragraph">
		Ваши друзья до сих пор пользуются интернетом с низкой скоростью? Расскажите им о преимуществах Оптоволоконного Интернета и оформите заявку на подключение!
		Ваш друг получит высокоскоростной интернет, а вы – 250 рублей на счет за подключение друга к интернету от компании «Инфорум»
	</p>
	<h2>Скидка постоянного клиента</h2>
	<p class="paragraph">
		20 февраля 2012 г. стартовала Программа Скидок для всех абонентов (физических лиц). Участникам программы предоставляется скидка от 3% до 15% в зависимости от количества месяцев беспрерывной работы в сети.
		Первая скидка предоставляется через 3 месяца непрерывной работы в сети и составляет 3% от суммы абонентской платы. Минимальная скидка - 3%, максимальная - 15%, увеличение скидки (при условии непрерывной работы) происходит по 1% в месяц. Таким образом, максимальную скидку абонент может получить через 15 месяцев непрерывной работы.
	</p>
</div>