@using System.Collections
@using System.Web.UI.WebControls
@using Inforoom2.Models
@model dynamic
@{
	IList<BillingHistory> historyList = ViewBag.HistoryList;
	ViewBag.Title = "Личный кабинет: платежи";
}


<h2 class="heading">@ViewBag.Title.ToUpper()</h2>
<div class="right-block">
	@{ Html.RenderPartial("Menu"); }
	@*		<div class="history">ИСТОРИЯ БАЛАНСА</div>*@
	<table class="cost">
		<tr class="menucost">
			<td class="menyhistory">Действие</td>
			<td class="menyhistory">Сумма, руб.</td>
			<td class="menyhistory">Дата</td>
		</tr>
		@foreach (var entry in historyList) {
			<tr class="menufee">
				<td class="fistorytb">@Html.DisplayFor(k => entry.Description)</td>
				<td class="fee">@Html.DisplayFor(k => entry.Sum)</td>
				<td class="price tr">@Html.DisplayFor(k => entry.Date)</td>
			</tr>
		}
	</table>
	@if (historyList.Count == 0) {
	<div class="noTableRows">У вас нет списаний</div>
}
</div>
