@using System.Collections
@using System.Web.UI.WebControls
@using Inforoom2.Models
@model dynamic
@{
	IList<BillingHistory> historyList = ViewBag.HistoryList;
}


<div class="heading">ЛИЧНЫЙ КАБИНЕТ: ПЛАТЕЖИ</div>
<div class="list">
	@{ Html.RenderPartial("Menu"); }
	<div class="historys">
		<div class="history">ИСТОРИЯ БАЛАНСА</div>
		<table class="historytb">
			<tr class="menucost">
				<td class="menyhistory">Действие</td>
				<td class="menyhistory">Сумма, руб.</td>
				<td class="menyhistory">Дата</td>
			</tr>
			@foreach (var entry in historyList) {
				<tr class="menufee">
					<td class="fistorytb">@Html.DisplayFor(k => entry.Description)</td>
					<td class="fee">@Html.DisplayFor(k => entry.Sum)</td>
					<td class="price tr">@Html.DisplayFor(k => entry.Date)</td>
				</tr>
			}
		</table>
	</div>
</div>