<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="SmtpServer" value="box.analit.net" />
		<add key="MaileSenderAddress" value="efedorov@analit.net" />
		<add key="ServiceSender" value="" />
		<add key="nhibernateConnectionString" value="Server=localhost;Database=internet;User ID=root;Password=;" />
		<add key="ShowErrorPage" value="false" />
	</appSettings>

	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="inforoomlog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>
		
		<root>
			<level value="ERROR" />
			<appender-ref ref="LogFile" />
		</root>
	</log4net>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime />

		<authentication mode="Forms">
			<forms cookieless="UseCookies" loginUrl="~/Account/Login" protection="All" path="/" requireSSL="false"
			       timeout="2880" />
		</authentication>

		<machineKey
			validationKey="7230D97FBD8432EAD29D85D0980D15758F1B5BA906DA10E511E1E75F1100AA9827DDAE0F67B638608A0F17400B19B19B1649E36DADF904BC34A8DCD489287880"
			decryptionKey="5EEA296775C7B40ED714AA5ED97F86E145583CEB4099C1FC"
			validation="SHA1" />

		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.webServer>
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />
		<modules>
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0"
			     type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
			     preCondition="" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>

	<runtime>
		<dependentAssembly>
			<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
		</dependentAssembly>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>