<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=testSQL.analit.net;Database=Internet;User ID=system;Password=newpass;Connect Timeout=300;pooling=true;convert zero datetime=yes;"/>
  </connectionStrings>
  <log4net>

    <appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
      <to value="kvasovtest@analit.net" />
      <from value="service@analit.net" />
      <subject value="[BILLING] Ошибка биллинга" />
      <smtpHost value="box.analit.net" />
      <lossy value="false" />
      <bufferSize value="0" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newline %m %n" />
      </layout>
    </appender>

    <appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
      <file value="Billing.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="LogFile" />
      <appender-ref ref="ServiceEmail" />
    </root>

  </log4net>
</configuration>