@using Common.Tools
@using Inforoom2.Components
@using Inforoom2.Helpers
@using Inforoom2.Models
@{
	Layout = "";
	int currentRegion = ViewBag.CurrentRegion;
}
<!-- Modal For Order Add-->
<div class="modal fade" id="ModelForSynchronization" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			@using (@Html.BeginForm("SynchronizeConnections", "ConnectedHouses", null, FormMethod.Post, new { @id = "ClientEditorForm", @class = "form-horizontal form-groups-bordered" }))
			{
				@Html.Hidden("regionId", currentRegion)
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Синхронизация</h4>
				</div>
				<div class="modal-body">
					<p>Вы действительно хотите обновить список домов на основе текущих адресов физ.лиц?</p> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<button type="submit" class="btn btn-success">Синхронизировать</button>
				</div>
			}
		</div>
	</div>
</div>