<?xml version="1.0"?>
<!--Эти значения, к сожалению имеют приоритет над основными. -->
<!--Чтобы перегрузить их в отдельном проекте придется програмно подключать еще один конфиг -->
<!--Данный конфиг подключен в различные проекты как ссылка - это сделано через опцию меню "Add Existing Item"->"Add As Link" -->
<appSettings>
	<add key="GlobalConfig" value="1" />
	<add key="LawyerPersonBalanceBlockingRate" value="2" />
	<add key="LawyerPersonBalanceWarningRate" value="1" />
	<!-- Почты для отсылки, соответствуют идентификаторам регионов -->
	<add key="ErrorNotifierMail" value="service@analit.net" />
	<add key="BlockForRepairNotificationMail" value="problemblg@analit.net" /> 
	<add key="PaymentNotificationMail" value="vekovshinina@ivrn.net, lsherbachenko@ivrn.net" />
	<add key="inforoom2Url" value="http://ivrn.net/"/>
	<add key="inforoom2UploadUrl" value="http://ivrn.net/Content/"/>
	<add key="inforoom2UploadPath" value="\\solo.adc.analit.net\WebApps\Ivrn\Content\"/>
	<add key="adminPanelOld" value="http://stat.ivrn.net/ii/"/>
	<add key="adminPanelNew" value="http://stat.ivrn.net/cp/"/>
	<add key="SendMailToClientFlag" value="JustProduction, NOT LOCAL"/>
	<!-- Задачи в RedMine для уведомлений об истечении срока выполнения сервисной заявки -->
	<add key="БелгородRedmineTask" value="17643"/>
	<add key="БорисоглебскRedmineTask" value="13291"/>
	<add key="НеизвестныйRedmineTask" value="33799"/>
	<add key="SpeedAddingRedmineTaskAssignTo" value="32"/>
	<add key="daysForAReadmineTaskAboutSpeed" value="3"/>
	<!-- Стандартный пароль для админов в тестах-->
	<add key="DefaultEmployeePassword" value="1234" />
	<add key="SmtpServer" value="box.analit.net"/>
	<add key="SpeedBoostPackageId" value="23" />
	<add key="OrderNotificationMail" value="ibilling@ivrn.net" />
	<add key="SaleUpdateMail" value="michail@analit.net, malyshev@analit.net" />
	<add key="WriteOffNotificationMail" value="ibilling@ivrn.net, InternetBilling@analit.net" />
	<!-- маркер по умолчанию для зарегистрированных заявок  -->
	<add key="connectionRequestDefaultMarker_registered" value="23"/>
	<add key="linksysLogin" value="ii" />
	<add key="linksysPassword" value="Analit11" />
	<add key="catalystLogin" value="ii" />
	<add key="catalystPassword" value="analit" />
	<add key="errorPath" value="~/Pure/Error.html" />
</appSettings>
