<?xml version="1.0"?>
<!--Эти значения, к сожалению имеют приоритет над основными. -->
<!--Чтобы перегрузить их в отдельном проекте придется програмно подключать еще один конфиг -->
<appSettings >
	<add key="GlobalConfig" value="1" />
	<add key="LawyerPersonBalanceBlockingRate" value="3" />
	<add key="LawyerPersonBalanceWarningRate" value="2" />
	<!-- Почты для отсылки, соответствуют идентификаторам регионов -->
	<add key="BlockForRepairNotificationMail" value="problemblg@analit.net" /> 
	<add key="PaymentNotificationMail" value="173@ivrn.net, 192@ivrn.net" />
	<add key="adminPanelOld" value="http://stat.ivrn.net/ii/"/>
	<add key="adminPanelNew" value="http://stat.ivrn.net/cp/"/> 
	<!-- Стандартный пароль для админов в тестах-->
	<add key="DefaultEmployeePassword" value="1234" /> 
</appSettings>