<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassiniDev" version="3.5.1.2" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net40" />
  <package id="LinqToExcel" version="1.10.1" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NHibernate" version="4.0.2.4000" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.42.0" targetFramework="net452" />
</packages>