<div class="plans">
	<div class="heading">ТАРИФНЫЕ ПЛАНЫ</div>
	<div class="variants">
		<div class="type">
			<h1>Популярный</h1>
			<h2>30 Мбит/с</h2>
			<h4></h4>
			<p>Для тех кто ценит время и деньги!
Идеально подходит для серфинга в интернете и просмотра фильмов на одном компьютере.</p>
			<h3>300 <span>Р.</span>/мес.</h3>
			@using (Html.BeginForm("RequestFromTariff", "ClientRequest", new { id = 45 }, FormMethod.Post, null)) {
				<input class="button plug" type="submit" value="Подключить">
			}
		</div>
		<div class="type typehit">
			<div class="typehitbg"></div>
			<h1>Оптимальный</h1>
			<h2>50 Мбит/с</h2>
			<h4>+Ночной безлимит<sup>1</sup></h4>
			<h4>+TV Free<sup>2</sup></h4>
			<p>Для тех кто действительно любит интернет!
Этот тариф для современной семьи, позволяющий
подключить устройства всех членов семьи через Wi-Fi,
получить цифровое TV и воспользоваться ночным безлимитом на скорости 100 Мбит/с.
При этом никто не будет обделен скоростью.</p>
			<h3>500 <span>Р.</span>/мес.</h3>
			@using (Html.BeginForm("RequestFromTariff", "ClientRequest", new { id = 49 }, FormMethod.Post, null)) {
				<input class="button plug" type="submit" value="Подключить">
			}
		</div>
		<div class="type">
			<h1>Максимальный</h1>
			<h2>100 Мбит/с</h2>
			<h4>+TV Free<sup>2</sup></h4>
			<p>Для тех кто всегда получает максимум выгоды из любого предложения!
Максимальная скорость и Максимальный TV пакет (167 цифровых каналов, 24 HD канала.)</p>
			<h3>900 <span>Р.</span>/мес.</h3>
			@using (Html.BeginForm("RequestFromTariff", "ClientRequest", new { id = 81 }, FormMethod.Post, null)) {
				<input class="button plug" type="submit" value="Подключить">
			}
		</div>
	</div>
	<div class="details">
		<p><sup>1</sup> — Ночной безлимит – скорость до 100 Мбит/с. с 21:00 до 7:00 часов</p>
		<p><sup>2</sup> — Подключение возможно при наличии технической возможностиGПредоставляется в ответственное хранение оборудование на один телевизор</p>
		<p>Есть возможность предоставления Wi-Fi роутера</p>
		<p>TV Free включает в себя 158 каналов (12 HD)</p>
	</div>
</div>