@using System.Activities.Statements
@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "Home";
	IList<NewsBlock> news = ViewBag.News ?? new List<NewsBlock>();
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Home</h2>

Тестовые пользователи:
<br>
client : password
<br>
admin : password
<h3>Новости</h3>
<div style="width: 1000px; height: 200px; margin: 0px auto; border: 1px gainsboro solid">
	
	
	@foreach (var item in news) {
		
		<div class="newsBlock">
			@Html.DisplayFor(modelItem => item.CreationDate)
			@Html.DisplayFor(modelItem => item.Preview)
			@if (!string.IsNullOrEmpty(item.Body)) {
				if (string.IsNullOrEmpty(item.Url)) {
					 <span><button class="ViewNewsBlock" onclick=" location.href = '@Url.Action("ViewNewsBlock", "Home", new { newsId = item.Id })' ">Подробнее</button></span>
				 }
				 else {
					 <span><button class="ViewNewsBlock" onclick=" location.href = '@item.Url'" >Подробнее</button></span>
				 }
			}
		
		</div>
	}
</div>