@model dynamic
@section JavaScript{<script type="text/javascript"src="@Url.Content("~/Scripts/HomeController.js")"></script>}
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Inforoom2.Models
@{
	Plan plan = ViewBag.Plan ?? new Plan {Name = ""};
	Client client = ViewBag.Client;
	var action = client == null ? "RequestFromTariff" : "Plans";
	var controller = client == null ? "ClientRequest" : "Personal";
	var divClass = plan.Name == "" ? "typehit" : "";
	var inputClass = plan.Name == "" ? "button" : "";
}
<div class="plans">
	<div class="heading">ТАРИФНЫЕ ПЛАНЫ</div>
	<div class="variants">
		@if (plan.Name.Contains("Популярный")) {
			<div class="type typehit">
				<h1>Популярный</h1>
				<h2>30 Мбит/с</h2>
				<h4></h4>
				<p>
					Для тех, кто ценит время и деньги!
					Идеально подходит для серфинга в интернете и просмотра фильмов на одном компьютере.
				</p>
				<h3>300 <span>Р.</span>/мес.</h3>
				@using (Html.BeginForm(action, controller, new { id = 45 }, FormMethod.Post, null)) {
					<input class="button plug" type="submit" value="Подключить">
				}
			</div>
		}
		else {
			<div class="type">
				<h1>Популярный</h1>
				<h2>30 Мбит/с</h2>
				<h4></h4>
				<p>
					Для тех, кто ценит время и деньги!
					Идеально подходит для серфинга в интернете и просмотра фильмов на одном компьютере.
				</p>
				<h3>300 <span>Р.</span>/мес.</h3>
				@using (Html.BeginForm(action, controller, new { id = 45 }, FormMethod.Post, null)) {
					<input class="@inputClass plug" type="submit" value="Подключить">
				}
			</div>
		}
		@if (plan.Name.Contains("Оптимальный")) {
			<div class="type typehit">
				<h1>Оптимальный</h1>
				<h2>50 Мбит/с</h2>
				<h4>+Ночной безлимит<sup>1</sup></h4>
				<h4>+TV Free<sup>2</sup></h4>
				<p>
					Для тех, кто действительно любит интернет!
					Этот тариф для современной семьи, позволяющий
					подключить устройства всех членов семьи через Wi-Fi,
					получить цифровое TV и воспользоваться ночным безлимитом на скорости 100 Мбит/с.
					При этом никто не будет обделен скоростью.
				</p>
				<h3>500 <span>Р.</span>/мес.</h3>
				@using (Html.BeginForm(action, controller, new { id = 49 }, FormMethod.Post, null)) {
					<input class="button plug" type="submit" value="Подключить">
				}
			</div>
		}
		else {
			<div class="type @divClass">
				<h1>Оптимальный</h1>
				<h2>50 Мбит/с</h2>
				<h4>+Ночной безлимит<sup>1</sup></h4>
				<h4>+TV Free<sup>2</sup></h4>
				<p>
					Для тех, кто действительно любит интернет!
					Этот тариф для современной семьи, позволяющий
					подключить устройства всех членов семьи через Wi-Fi,
					получить цифровое TV и воспользоваться ночным безлимитом на скорости 100 Мбит/с.
					При этом никто не будет обделен скоростью.
				</p>
				<h3>500 <span>Р.</span>/мес.</h3>
				@using (Html.BeginForm(action, controller, new { id = 49 }, FormMethod.Post, null)) {
					<input class="@inputClass plug" type="submit" value="Подключить">
				}
			</div>
		}

		@if (plan.Name.Contains("Народный")) {
			<div class="type typehit">
				<h1>Народный</h1>
				<h2>100 Мбит/с</h2>
				<h4>+TV Free<sup>2</sup></h4>
				<p>
					Для тех, кто готов к новым возможностям, наш ответ санкциям: скидка 50% на 6 месяцев.
					С нами санкции нипочем, 100 Мбит/с в каждый дом!
				</p>
				<h3>300 <span>Р.</span>/мес.<sup style="font-size: 16px">3</sup></h3>
				@using (Html.BeginForm(action, controller, new { id = 85 }, FormMethod.Post, null)) {
					<input class="button plug" type="submit" value="Подключить">
				}
			</div>
  }
  else
  {
			<div class="type">
				@if (plan.Name == "")
				{
					<div class="typehitbg"></div>
				}
				<h1>Народный</h1>
				<h2>100 Мбит/с</h2>
				<h4>+TV Free<sup>2</sup></h4>
				<p>
					Для тех, кто готов к новым возможностям, наш ответ санкциям: скидка 50% на 6 месяцев.
					С нами санкции нипочем, 100 Мбит/с в каждый дом!
				</p>
				<!--стиль у sup временный-->
				<h3>300 <span>Р.</span>/мес.<sup style="font-size: 16px">3</sup></h3>
				@using (Html.BeginForm(action, controller, new { id = 85 }, FormMethod.Post, null))
				{
					<input class="@inputClass plug" type="submit" value="Подключить">
				}
			</div>
			}
		</div>
		<div class="pricelistlink">
			<a class="links-header" href="/Home/PricesList">Прайс-лист дополнительных услуг</a>
		</div>
		<div class="details">
			<p>Все тарифные планы действительны для многоквартирных домов при наличии технической возможности.</p>
			<p>Для подключения в частном секторе г.Борисоглебск уточняйте техническую возможность и тарифные планы по тел. 8 473 22 999 87</p>
			<p><sup>1</sup> — Ночной безлимит – скорость до 100 Мбит/с. с 21:00 до 7:00 часов</p>
			<p><sup>2</sup> — Подключение возможно при наличии технической возможности.Предоставляется в ответственное хранение оборудование на один телевизор</p>
			<p>Есть возможность предоставления Wi-Fi роутера</p>
			<p>TV Free включает в себя 167 каналов (24 HD)</p>
			<p><sup>3</sup> — По истечению 180 дней пользования стоимость тарифа составит 600р./месяц.</p>
			<p>Для сохранения стоимости 300р. необходимо самостоятельно в личном кабинете сменить тарифный план на "Популярный", смена бесплатна.</p>
			<p>Тариф доступен для подключения до 31.10.2015г.</p>
			<p>Внимание: накопительная скидка по платежам отменяется на весь период действия скидки по тарифу.</p>
		</div>
	</div>