@using Inforoom2.Models
@model dynamic

@{
	ViewBag.Title = "title";

	NewsBlock news = ViewBag.NewsBlock;
}

<h2 class="heading">@Html.DisplayFor(modelItem => news.Title)</h2>

<div class="NewsBlockDeatil paragraph">
	@if (news.Body == null) {
		@Html.DisplayFor(modelItem => news.Preview)
	}
	else {
		@Html.DisplayFor(modelItem => news.Body)
	}
</div>
<br/>
@using (Html.BeginForm("Index", "Home", null, FormMethod.Get, null)) {
	<input type="submit"class="click" value="Назад" />
}